{% extends 'template_base.html' %}
{% load static %}
{% block head_css_agregado %}
  <link href="{% static 'registro_inversionista/dashboard.css' %}" rel="stylesheet" type="text/css">
{% endblock head_css_agregado %}
{% block content %}
  <body>
    <div class="crece-dashboard-botones" id="botones">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-8 col-10 crece-dashboard-botones-wrapper">
            <div class="row justify-content-center">
              <div class="col-10">
                <h2>
                  ¿De qué forma deseas ingresar?
                </h2>
              </div>
              <div class="col-12 col-md-6">
                <button>Solicitante</button>
              </div>
              <div class="col-12 col-md-6">
                <button id="myButton" onClick="mostrar_inversionista()">Inversionista</button>
              </div>
            </div>
        </div>
      </div>
    </div>


    <div class="dashboard" id="dashboard">
        <section class='crece-dashboard-sidenav' id="secion-nav">
          <div class='crece-usuario'>
            <i class="crece-usuario-imagen fa fa-user-circle-o" aria-hidden="true"></i>
            <div class="crece-usuario-nombre" id='nombre-usuario'>
              {{ usuario.nombres }} {{usuario.apellidos}}
            </div>
          </div>
          <nav>
            <a href="#" class="active"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Oportunidades de inversion</a>
            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Mis inversiones</a>
            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Historial de inversiones</a>
          </nav>
        </section>

        <header>
          <div class="search_area">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="">
          </div>

          <div class="crece-header-logo" >
            <a href="#">

                <img src="{% static 'registro_inversionista/assets/logo.png' %}" alt="Logo crece">
                Crece Ecuador

            </a>
            
          </div>

        </header>
    </div>
  </body>
{% endblock content %}

{% block footer_javascript_agregado %}
<script type="text/javascript" src="{% static 'registro_inversionista/scripts.js' %}" ></script>
{% endblock footer_javascript_agregado %}