{% extends 'template_base.html' %}
{% load static %}
{% block head_css_agregado %}
  <link href="{% static 'registro_inversionista/dashboard.css' %}" rel="stylesheet" type="text/css">
{% endblock head_css_agregado %}
{% block content %}
  <body>
    <div class="dashboard" id="dashboard">

      <nav id="sidebar">
          <div class="sidebar-header">
              <div class='crece-usuario'>
                <i class="crece-usuario-imagen fa fa-user-circle-o" aria-hidden="true"></i>
                <div class="crece-usuario-nombre" id='nombre-usuario'>
                  {{ usuario.nombres }} {{usuario.apellidos}}
                </div>
                <div class="crece-usuario-ver-perfil"> 
                  <h6>
                    <a href="#">
                      Ver Perfil
                    </a>
                  </h6>
                </div>
              </div>
          </div>
          
          
          <ul class="list-unstyled components">          
            <li class="active">
              <a href="#"><span>Oportunidades de<br> Inversion</span></a>
            </li>
            <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Mis Inversiones</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                  <a href="#">Pendientes</a>
                </li>
                <li>
                  <a href="#">Por fondear</a>
                </li>
                <li>
                  <a href="#">Vigentes</a>
                </li>
                <li>
                  <a href="#">Terminadas</a>
                </li>
              </ul> 
            </li>
            <li>
              <a href="#">Historial de inversiones</a>
            </li>
          </ul>
      </nav>

      <div class="content">
          <header>
            <!-- 
              <div class="search_area">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" name="">
              </div>-->
    
              <div class="crece-header-logo" >
                <a href="#">
    
                    <img src="{% static 'registro_inversionista/assets/logo.png' %}" alt="Logo crece">
                    Crece Ecuador
    
                </a>
                
              </div>
    
            </header>
      </div>

    </div>
  </body>
{% endblock content %}

{% block footer_javascript_agregado %}
<script type="text/javascript" src="{% static 'registro_inversionista/scripts.js' %}" ></script>
{% endblock footer_javascript_agregado %}