{% extends 'template_base.html' %}
{% load static %}

{% block head_css_agregado %}
            <link href="{% static 'registro_inversionista/css/login.css' %}" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock head_css_agregado %}
{% block content %}
  <main id="main-id">
    <div class="container">
            <!--Formulario para Login-->
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-8 col-11 crece-login-container">
                <div class="col-12 crece-login-container-form-wrapper-titulo">
                    <div class="crece-login-container-logo"><img src="{% static 'assets/logo_color.png' %}"></div>
                </div>
                <div class="row justify-content-center crece-login-container-form-wrapper">
                  <div class="col-12 crece-login-container-form-wrapper-titulo">
                    <h2>Iniciar Sesión</h2>
                  </div>
                  <div class="col-lg-9 crece-login-container-form-wrapper-usuario">
                    <input type="text" name="" id="id_username" placeholder="Usuario">
                    
                  </div>
                  <div class="col-lg-9 crece-login-container-form-wrapper-pass">
                    <input type="password" name="" id="id_password" placeholder="Contraseña">
                  </div>
                  <div class="col-lg-9 crece-login-container-form-wrapper-error">
                    <label id="label_error">

                    </label>
                  </div>
                  <div class="col-lg-8 crece-login-container-form-wrapper-boton-ingresar">

                    <button onclick="login()">Ingresar</button>

                  </div>
                  <div class="col-12 crece-login-container-form-wrapper-texto">
                    <p>
                      ¿No tienes cuenta? <a href="/inversionista/registro/">Regístrate</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!--Tipos de ingreso
            <div class="row">
                <div class="tipos-ingresos">
                  <div>
                    <a href="#"><img src="{% static 'registro_inversionista/assets/facebook-ingreso.png' %}"></a>
                    <a href="#"><img src="{% static 'registro_inversionista/assets/google-ingreso.png' %}"></a>
                    <a href="#"><img src="{% static 'registro_inversionista/assets/twitter-ingreso.png' %}"></a>
                  </div>
                </div>
            </div>-->


    </div>

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'registro_inversionista/scripts.js' %}" ></script>
{% endblock content %}