{% extends 'template_base.html' %}
{% load static %}

{% block head_css_agregado %}
            <link href="{% static 'registro_inversionista/css/registro.css' %}" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock head_css_agregado %}
{% block content %}
  <main id="main-id">
    <div class="container">
          
            

            <div class="row justify-content-center" id="crece-registro-super-container">



                <!--Cuadro de registro-->
              <div class="col-xl-9 col-lg-9 col-md-12 col-12 crece-registro-container" id="crece-registro-container-id">
                    <div class="col-12 crece-login-container-form-wrapper-titulo">
                      <div class="crece-registro-container-logo"><a href="/" target="_blank"><img src="{% static 'assets/logo_color.png' %}"></a></div>
                    </div>

                     <div class="col-12 crece-registro-container-form-wrapper-titulo" id="crece-registro-titulo-id">
                        <h2>¡Estás a solo unos pasos de convertirte en un inversionista CRECE!</h2>
                      </div>


                  <!--Formulario para Registro-->
                <div class="row justify-content-center crece-registro-form-wrapper" id="crece-registro-form-id">
                  <!--form id="crece-form-registro-id" method="POST"-->
                    <div class="col-12 col-sm-12 col-lg-7 col-md-7 crece-registro-container-form-wrapper-usuario crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Nombres
                        </div> 
                        <div class="col">
                          <input type="text" name="nombres" class="crece-form-input" id="id_nombres" required>
                          <i class="fa fa-check" aria-hidden="true" id="check-nombres-id"></i>
                          <i class="fa fa-exclamation-circle" aria-hidden="true" id="times-nombres-id"></i>
                          <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-nombres">
                            Ingrese sus Nombres
                          </div>
                        </div>
                      </div>   
                    </div>

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-apellidos crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Apellidos
                        </div> 
                        <div class="col">
                          <input type="text" name="apellidos" class="crece-form-input" id="id_apellidos" required="">
                          <i class="fa fa-check" aria-hidden="true" id="check-apellidos-id"></i>
                          <i class="fa fa-exclamation-circle" aria-hidden="true" id="times-apellidos-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-apellidos">
                            Ingrese sus Apellidos
                          </div>
                        </div>
                      </div>
                    </div>

                     <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-cedula crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Cédula
                        </div> 
                        <div class="col">
                          <input type="text" name="cedula" class="crece-form-input" id="id_cedula" maxlength="10"  />
                          <i class="fa fa-check" aria-hidden="true" id="check-cedula-id"></i>
                          <i class="fa fa-exclamation-circle" aria-hidden="true" id="times-cedula-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-cedula">
                            Ingrese su Cédula
                          </div>

                        </div>
                      </div> 
                    </div>

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-email crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Correo electrónico
                        </div> 
                        <div class="col">
                          <input type="text" name="email" class="crece-form-input" id="id_email" required>
                          <i class="fa fa-check" aria-hidden="true" id="check-email-id"></i>
                          <i class="fa fa-exclamation-circle" aria-hidden="true" id="times-email-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-email">
                            Ingrese su correo electrónico
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-pass crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Contraseña
                        </div> 
                        <div class="col">
                          <input type="password" name="password" class="crece-form-input" id="id_password" required="">
                          <div class="show-hide-password" id="crece-show-hide-password" onclick="switch_mostrar_ocultar_password()">MOSTRAR</div>
                          <i class="fa fa-check fa-confirmar-password" aria-hidden="true" id="check-password-id"></i>
                          <i class="fa fa-exclamation-circle fa-confirmar-password" aria-hidden="true" id="times-password-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-password">
                             Ingrese su contraseña
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-confirmar-pass crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Confirmar contraseña
                        </div> 
                        <div class="col">
                          <input type="password" name="confirmar-password" class="crece-form-input" id="id_confirmar_password">
                          <div class="show-hide-password" id="crece-show-hide-confirmar-password" onclick="switch_mostrar_ocultar_password('confirmar')">MOSTRAR</div>
                          <i class="fa fa-check fa-confirmar-password" aria-hidden="true" id="check-confirmar-password-id"></i>
                          <i class="fa fa-exclamation-circle fa-confirmar-password" aria-hidden="true" id="times-confirmar-password-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-confirmar-password">
                            Confirme su contraseña
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-celular crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Celular
                        </div> 
                        <div class="col">
                          <input type="text" name="celular" class="crece-form-input" id="id_celular" required="">
                          <i class="fa fa-check" aria-hidden="true" id="check-celular-id"></i>
                          <i class="fa fa-exclamation-circle" aria-hidden="true" id="times-celular-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-celular">
                            Ingrese su celular
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-canton crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Ciudad
                        </div> 
                        <div class="col-9 col-md-9 col-sm-9 col-lg-9 ">
                          <select id="id_canton" name="canton">
                            <option value="Guayaquil">Guayaquil</option>
                            <option value="Quito">Quito</option>
                            <option value="Cuenca">Cuenca</option>
                            <option value="Manta">Manta</option>
                            <option value="Machala">Machala</option>
                          </select>
                        </div>
                      </div>
                    </div>


                  <!--/form-->

                </div>

              <!--Encuesta-->
              <div tabindex="-1" class="row justify-content-center crece-registro-encuesta-container" id="crece-registro-encuesta-container-id">
                <div class="col-12 col-sm-6 col-lg-6 col-md-6 crece-registro-container-encuesta-pregunta" id="pregunta-container-1">
                  <div class="row">
                    <div class="col-12 crece-registro-encuesta-pregunta" id="pregunta-1"> 
                      <strong>¿En cuánto tiempo esperas recuperar tus inversiones? </strong>
                    </div>
                  </div>
                                        
                </div>
                 <div class="col-12 col-sm-6 col-lg-6 col-md-6 crece-registro-container-encuesta-pregunta" id="pregunta-container-2">
                  <div class="row">
                    <div class="col-12 crece-registro-encuesta-pregunta" id="pregunta-2"> 
                      <strong>¿Cuánto esperas invertir a través de CRECE? </strong>
                    </div>
                  </div>
                                        
                </div>
                 <div class="col-12 col-sm-6 col-lg-6 col-md-6 crece-registro-container-encuesta-pregunta" id="pregunta-container-3">
                  <div class="row">
                    <div class="col-12 crece-registro-encuesta-pregunta" id="pregunta-3"> 
                      <strong>¿Qué nivel de riesgo se ajusta a su perfil? </strong>
                    </div>
                  </div>
                                        
                </div>
                 <div class="col-12 col-sm-6 col-lg-6 col-md-6 crece-registro-container-encuesta-pregunta" id="pregunta-container-4">
                  <div class="row">
                    <div class="col-12 crece-registro-encuesta-pregunta" id="pregunta-4"> 
                      <strong>¿Cómo conociste a CRECE? </strong>
                    </div>
                  </div>
                                        
                </div>
                <div class="col-lg-9 crece-registro-container-form-wrapper-error crece-registro-container-form-wrapper-error-encuesta ">
                    <i class="fa fa-exclamation-circle" aria-hidden="true" id="times-encuesta-id"></i>
                    <label id="label_error_encuesta">

                    </label>
                </div>
              </div>

              <!--Aceptacion de contratos-->
                  <div class="crece-contratos-texto" id="crece-contratos-texto-id">
                    <p>
                      Al dar clic en "Registrarme", aceptas los <span id='span-terminos-condiciones' class='crece-span-acuerdos-contratos'><strong>Términos y condiciones</strong></span> generales, <span id='span-politicas-privacidad' class='crece-span-acuerdos-contratos'><strong>Políticas de privacidad</strong></span> y <span id='span-acuerdo-uso-sitio' class='crece-span-acuerdos-contratos'><strong>Acuerdos específicos de uso del sitio web</strong></span> como usuario inversionista de CRECE ECUADOR.
                    </p>
                  </div>
                  
                  <div class="crece-registro-check-acepto-registrarse" id="crece-registro-check-acepto-registrarse-id">
                    <div class="col-12 crece-registro-container-form-wrapper-boton-registrar">

                          <button type="submit" form="crece-form-registro-id" onclick="registrar()" id="crece-registrarse" >Registrarme</button>
                    </div>
                  </div>


                  <div class="col-12 crece-login-container-form-wrapper-texto" id="crece-login-container-form-wrapper-texto-id">
                        <p>
                          ¿Estás registrado? Inicia sesión <a href="/inversionista/login/">aquí</a>
                        </p>
                  </div>

                  <div class="crece-registro-footer row justify-content-center">
                                      <ul class="crece-footer-redes-lista"> 
                                        <li><div>Síguenos en: </div></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/creceec"><img src="{% static 'assets/twitter.png' %}" id="crece-twitter"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/creceec/?hl=es-la"><img src="{% static 'assets/instagram.png' %}"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://ec.linkedin.com/company/creceec"><img src="{% static 'assets/linkedin.png' %}"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/CreceEC/"><img src="{% static 'assets/fb.png' %}" id="crece-facebook"></a></li>
                                      </ul>
                        <!--div class="crece-inforacion">¿Más información?
                                  <div>
                                    Whatsapp: 
                                    <a target="_blank" rel="noopener noreferrer" href="https://wa.me/593988349088">
                                      <span style="    color: #08A7BA;">+593-98-834-9088</span>
                                    </a>
                                  </div>
                                  <div>Escríbenos: 
                                    <a href="mailto: info@creceecuador.com">
                                      <span style="    color: #08A7BA;">info@creceecuador.com</span>
                                    </a>
                                  </div>
                                </div-->
                  </div>


              </div>
            </div>
            <div class="col-12 crece-login-container-form-wrapper-titulo">
                      <div class="crece-registro-container-logo" id="crece-logo-registro-exitoso"><img src="{% static 'assets/logo_color.png' %}"></div>
            </div>
            <div class="wrapper" id="crece-wrapper-id">
              
              <i class="fa fa-check" aria-hidden="true" id="check-timelime-email-id"></i>
              <div class="timeline">


                <dl class="timeline--entry">
                  
                  <dt class="timeline--entry__title"><i class="fa fa-envelope" aria-hidden="true" id="crece-registro-icon-email-id"></i>  <span id="span-hora-email-id">hora</span></dt>
                  <dd class="timeline--entry__detail"><span id="span-send-to-id"></span></dd>
                </dl>
                <dl class="timeline--entry">
                  <dt class="timeline--entry__title">Ahora activa tu cuenta</dt>
                  <dd class="timeline--entry__detail">Gracias por registrarte en CRECE. Ahora debes activar tu cuenta desde el enlace que enviamos a tu correo electrónico. No olvides revisar la bandeja de correo no deseado en caso de no recibir el correo en tu bandeja de entrada</dd>
                </dl>
                
                
              </div>
            </div>


    </div>

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'registro_inversionista/js/registro.js' %}" ></script>
{% endblock content %}