{% extends 'template_base.html' %}
{% load static %}

{% block head_css_agregado %}
            <link href="{% static 'registro_inversionista/css/registro.css' %}" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock head_css_agregado %}
{% block content %}
  <main id="main-id">
    <div class="container">
          
            

            <div class="row justify-content-center" id="crece-registro-super-container">



                <!--Cuadro de registro-->
              <div class="col-xl-9 col-lg-9 col-md-12 col-12 crece-registro-container" id="crece-registro-container-id">
                    <div class="col-12 crece-login-container-form-wrapper-titulo">
                      <div class="crece-registro-container-logo"><a href="/" target="_blank"><img src="{% static 'assets/logo_color.png' %}"></a></div>
                    </div>

                     <div class="col-12 crece-registro-container-form-wrapper-titulo" id="crece-registro-titulo-id">
                        <h2>Restablecer contraseña</h2>
                      </div>


                  <!--Formulario para Registro-->
                <div class="row justify-content-center crece-registro-form-wrapper" id="crece-registro-form-id">

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-pass crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Nueva Contraseña
                        </div> 
                        <div class="col">
                          <input type="password" name="password" class="crece-form-input" id="id_password" required="">
                          <div class="show-hide-password" id="crece-show-hide-password" onclick="switch_mostrar_ocultar_password()">MOSTRAR</div>
                          <i class="fa fa-check fa-confirmar-password" aria-hidden="true" id="check-password-id"></i>
                          <i class="fa fa-exclamation-circle fa-confirmar-password" aria-hidden="true" id="times-password-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-password">
                             Ingrese su nueva contraseña
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 crece-registro-container-form-wrapper-confirmar-pass crece-registro-container-form-wrapper">
                      <div class="row">
                        <div class="col-12 crece-registro-form-label">
                          Confirmar contraseña
                        </div> 
                        <div class="col">
                          <input type="password" name="confirmar-password" class="crece-form-input" id="id_confirmar_password">
                          <div class="show-hide-password" id="crece-show-hide-confirmar-password" onclick="switch_mostrar_ocultar_password('confirmar')">MOSTRAR</div>
                          <i class="fa fa-check fa-confirmar-password" aria-hidden="true" id="check-confirmar-password-id"></i>
                          <i class="fa fa-exclamation-circle fa-confirmar-password" aria-hidden="true" id="times-confirmar-password-id"></i>
                           <div class="crece-mensaje-invalid-input" id="crece-mensaje-invalid-input-confirmar-password">
                            Confirme su contraseña
                          </div>
                        </div>
                      </div>
                    </div>

                  


                  <!--/form-->

                </div>

                 <div class="crece-registro-check-acepto-registrarse" id="crece-registro-check-acepto-registrarse-id">
                    <div class="col-12 crece-registro-container-form-wrapper-boton-registrar">

                          <button type="submit" form="crece-form-registro-id" onclick="confirmar_restablecer_password()" id="crece-registrarse" >Restablecer</button>
                    </div>
                  </div>



                  <div class="crece-registro-footer row justify-content-center">
                                      <ul class="crece-footer-redes-lista"> 
                                        <li><div>Síguenos en: </div></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/creceec"><img src="{% static 'assets/twitter.png' %}" id="crece-twitter"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/creceec/?hl=es-la"><img src="{% static 'assets/instagram.png' %}"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://ec.linkedin.com/company/creceec"><img src="{% static 'assets/linkedin.png' %}"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/CreceEC/"><img src="{% static 'assets/fb.png' %}" id="crece-facebook"></a></li>
                                      </ul>



              </div>
            </div>


    </div>

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'registro_inversionista/js/restablecer_password.js' %}" ></script>
{% endblock content %}