{% extends 'template_base.html' %}
{% load static %}

{% block head_css_agregado %}
            <link href="{% static 'registro_inversionista/css/login.css' %}" rel="stylesheet" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endblock head_css_agregado %}
{% block content %}
  <main id="main-id">
    <div class="container">
            <!--Formulario para Login-->
            <div class="row justify-content-center" id="crece-reset-password-super-container">
              <div class="col-lg-5 col-md-8 col-11 crece-login-container">
                <div class="col-12 crece-login-container-form-wrapper-titulo">
                    <div class="crece-login-container-logo"><a href="/" target="_blank"><img src="{% static 'assets/logo_color.png' %}"></a></div>
                </div>
                <div class="row justify-content-center crece-login-container-form-wrapper">
                  <div class="col-12 crece-login-container-form-wrapper-titulo">
                    <h2>Restablecer contraseña</h2>
                      
                  </div>
                  
                          <div class="col-lg-9 crece-login-container-form-wrapper-usuario">
                            <input type="text" name="" id="id_username" placeholder="Correo electrónico">
                          </div>
                          
                          <div class="col-lg-9 crece-login-container-form-wrapper-error">
                            <label id="label_error">
                                Este usuario no existe. <a href="/inversionista/registro/">Regístrate</a> como inversionista.
                            </label>
                          </div>
                          <div class="col-lg-8 crece-login-container-form-wrapper-boton-ingresar">

                            <button onclick="restablecer_password()" id="btn_ingresar">Enviar</button>

                          </div>





                  
                          
                  <div class="col-12 crece-login-container-form-wrapper-texto">
                    <p>
                     
                    </p>
                  </div>
                </div>

                <div class="crece-registro-footer row justify-content-center">
                                      <ul class="crece-footer-redes-lista"> 
                                        <li><div>Síguenos en: </div></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/creceec"><img src="{% static 'assets/twitter.png' %}" id="crece-twitter"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/creceec/?hl=es-la"><img src="{% static 'assets/instagram.png' %}"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://ec.linkedin.com/company/creceec"><img src="{% static 'assets/linkedin.png' %}"></a></li>
                                        <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/CreceEC/"><img src="{% static 'assets/fb.png' %}" id="crece-facebook"></a></li>
                                      </ul>
                  
                  </div>
              </div>
            </div>

            <div id="crece-reset-password-envio-email-timeline" class="container">
                <div class="col-12 crece-login-container-form-wrapper-titulo">
                      <div class="crece-registro-container-logo" id="crece-logo-registro-exitoso"><a href="/"><img src="{% static 'assets/logo_color.png' %}" style="margin-left: auto;margin-right: auto;display: block;"></a></div>
                </div>
                <div class="wrapper" id="crece-wrapper-id">
                  
                  <i class="fa fa-check" aria-hidden="true" id="check-timelime-email-id"></i>
                  <div class="timeline">


                    <dl class="timeline--entry">
                      
                      <dt class="timeline--entry__title"><i class="fa fa-envelope" aria-hidden="true" id="crece-registro-icon-email-id"></i>  <span id="span-hora-email-id">hora</span></dt>
                      <dd class="timeline--entry__detail"><span id="span-send-to-id"></span></dd>
                    </dl>
                    <dl class="timeline--entry">
                      <dt class="timeline--entry__title">Ahora restablece tu contraseña</dt>
                      <dd class="timeline--entry__detail">Revisa incluso tu bandeja de correos no deseados. Encuentra nuestro correo, sigue el link para restaurar tu contraseña y continuar invirtiendo.</dd>
                    </dl>
                    
                    
                  </div>
                </div>
            </div>




    </div>

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'registro_inversionista/js/restablecer_password.js' %}" ></script>
{% endblock content %}