{% extends 'template_base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head_css_agregado %}
            <link href="{% static 'registro_inversionista/css/forms.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'registro_inversionista/css/subir_transferencia.css' %}" rel="stylesheet" type="text/css">
        {% endblock head_css_agregado %}
    </head>
    <body> 

                {% block content %}  
                    <section class="crece-confirmar-transferencia-formulario">
                        <div class="row justify-content-center">
                            <div class="col-11 col-md-10 col-lg-6 crece-confirmar-transferencia-formulario-wrapper">
                                <div class="row justify-content-center">
                                    <form>
                                        <div class="form-group row justify-content-center">
                                            <div class="col-12">
                                                <h2>
                                                    Sube tu comprobante de transferencia
                                                </h2>
                                            </div>
                                            <div class="col-12">
                                                    <p>
                                                        En el comprobante de transferencia subido se deberá poder observar el
                                                        monto de la inversión junto con el número de cédula.
                                                    </p>
                                                </div>
                                            <div class="col-12">
                                                <label>Comprobante transferencia:</label>
                                            </div>
                                            <div class="col-12">
                                                <input 
                                                    required
                                                    type="file"
                                                    accept="image/png, image/jpeg, application/pdf"
                                                    class="form-control"
                                                    name="comprobante_transferencia"
                                                    id="comprobante_transferencia"
                                                    data-valueMissing="Suba el comprobante de la transferencia"/>
                                            </div>
                                        </div>
            
                                        <button id="enviar_transferencia"> Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endblock content %}
      


        {% block footer_javascript_agregado %}
        <script src="{% static 'registro_inversionista/js/subir_transferencia.js' %}"></script>
        {% endblock footer_javascript_agregado %}
        

    </body>
</html>