{% extends 'template_base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head_css_agregado %}
            <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
        {% endblock head_css_agregado %}
    </head>
    <body> 

                {% block content %}  
                <!-- Carrusel -->
                <section class="crece-carrusel">
                    <div class="crece-carrusel-imagenes">
  
                      <img src="{% static 'assets/Copy of Header conto.jpg' %}" alt="imagen 1">
                      <img src="{% static 'assets/Copy of header 5.jpg' %}" alt="imagen 2">
                      <img src="{% static 'assets/Copy of Header Yanes.jpg' %}" alt="imagen 3">
                    </div>
                    <div class="crece-carrusel-imagenes-movil">
                      <img src="{% static 'assets/carrusel_movil_1.jpg' %}" alt="imagen 1">
                      <img src="{% static 'assets/carrusel_movil_2.jpg' %}" alt="imagen 2">
                      <img src="{% static 'assets/carrusel_movil_3.jpg' %}" alt="imagen 3">
                    </div>
                  </section>
                  <section class="crece-main-mensaje justify-content-center text-center row">
                          <div class="container col-12 col-lg-7">
                              <p>Creemos que la rentabilidad con impacto social es posible.
                                                  Ponemos en contacto a pequeños y medianos emprendedores
                                                  con inversionistas que conceden los recursos.</p>
                              <p>
                                  Juntos definen las condiciones que los harán CRECER.
                                  Nosotros nos encargamos del papeleo.</p>
                              <div class="row justify-content-center crece-main-mensaje-imagenes">
                                <div>
                                    <img src="{% static 'assets/inversionistas_crece_solicitantes.png' %}">
                                </div>
                              </div>
                              <div class="row justify-content-center crece-main-mensaje-imagenes-movil">
                                <div>
                                    <img src="{% static 'assets/inversionistas_crece_solicitantes_movil.png' %}">
                                </div>
                              </div>
                      </div>
                  </section>
  
  
                  <!-- Solicitante/Inversionista -->
                  <section class="crece-solicitante-inversionista justify-content-center row">
  
                    <div class="container col-lg-8">
                      <div class="row">
                            <div class="crece-solicitar-invertir">
                              <button class="btn crece-solicitar-button crece-solicitar-invertir-elegido"><strong>Solicitar</strong></button>
                              <button class="btn crece-invertir-button"><strong>Invertir</strong></button>
                            </div>
                            
                      </div>
  
                      <div class="row crece-solicitar-contenido justify-content-center" id="crece-solicitar-id">
  
                          <div class="col-lg-5 col-12 crece-solicitar-contenido-infografia-izquierda">
                            <div class="row crece-solicitar-text">
  
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso1_calcula.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  Calcula tu cuota
                                </div> 
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso2_llena.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  Llena la solicitud
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso3_envia.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  Envía tu información financiera
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso4_acepta.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  Acepta las condiciones de financiamiento
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-12">
                            <div class="row justify-content-center">
                                <img src="{% static 'assets/calculadora_cuota.png' %}">
                            </div> 
                          </div>
  
                      </div>
                      
                      <div class="row crece-invertir-contenido justify-content-center" id="crece-invertir-id">
  
                          <div class="col-lg-5 crece-solicitar-contenido-infografia-izquierda">
                            <div class="row crece-solicitar-text">
  
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso1_calcula.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  Calcula tu retorno
                                </div> 
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso2_crea_usuario.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  Crea tu usuario e inicia sesión
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso3_monto.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  Define el monto de tu inversión
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso2_llena.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-9">
                                  <span>Completa tus datos y haz la transferencia</span>
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="row justify-content-center">
                                <img src="{% static 'assets/calculadora_invertir.png' %}">
                            </div> 
                          </div>
  
                      </div>
               </div>
                        
                  </section>
  
                  <!-- Oportunidades -->
                  <section class="crece-oportunidades">
                      <div class="row justify-content-center">
                          <div class="container col-lg-10">
                              <div class="col-12">
                                  <h2 class="crece-oportunidades-titulo">Oportunidades de Inversión</h2>
                              </div>
                              <div class="row justify-content-center">
                                <div class="col-xl-4 col-lg-6 col-12">
                                    <div class="row justify-content-center">
                                        <div class="crece-oportunidades-contenedor">
                                            <div class="col-12 crece-oportunidades-imagen" style="background-image: url('{% static 'assets/JDT_7428.jpg' %}');">
                                                <div class="crece-oportunidades-imagen-gradiente">
                                                    <div class="crece-oportunidades-imagen-gradiente-texto">
                                                        <span>Capital de Trabajo</span>
                                                        <strong>José Yánez</strong>
                                                        <strong>Persona Natural</strong>
                                                        <span>ID: 5601</span>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="col-12">
                                                <div class="crece-oportunidades-contenido">
                                                    <div class="col-12 crece-oportunidades-contenido-monto">
                                                        <div class="col-12 crece-oportunidades-contenido-monto-texto">
                                                            <p>
                                                                <strong>$5000</strong><br>
                                                                $1300 recolectados de $5000
                                                            </p>
                                                            
                                                            <span></span>
                                                        </div>
                                                        <div class="col-12 crece-oportunidades-contenido-monto-barra">
                                                            <div style="width: 26%;" class="crece-oportunidades-contenido-monto-barra-progreso">
            
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-informacion">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Plazo</strong><br>
                                                                    12 Meses
                                                                </p>
                                                            </div>
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Industria</strong><br>
                                                                    Distribución
                                                                </p>
                                                            </div>
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Tasa(TIR)</strong><br>
                                                                    16.00%
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-solicitante">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <strong>José Yánez en CRECE</strong>
                                                            </div>
                                                            <div class="col-12">
                                                                <p>
                                                                    Comencé con mi negocio hace 4 años atrás junto al apoyo y 
                                                                    el aporte de mi familia. Nos dedicamos al diseño y confección 
                                                                    de uniforme de trabajo para todo tipo de industrias. Actualmente 
                                                                    mantengo contratos con empresas grandes de Guayaquil y sus 
                                                                    alrededores. Tengo que entregar un pedido de uniformes para uno de 
                                                                    los productores de azúcar más reconocido del medio, necesito capital 
                                                                    de trabajo para cubrir costos de materia prima y otros relacionados 
                                                                    a la producción y entrega.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-historial">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <p>
                                                                    <strong>Pagados</strong><br>
                                                                    2/3
                                                                </p>
                                                            </div>
                                                            <div class="col-4 crece-oportunidades-contenido-historial-centro">
                                                                <p>
                                                                    <strong>Puntualidad</strong><br>
                                                                    95%
                                                                </p>
                                                            </div>
                                                            <div class="col-4">
                                                                <p>
                                                                    <strong>Vigentes</strong><br>
                                                                    1/3
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-botones">
                                                        <div class="row">
                                                            <div class="col-6 crece-oportunidades-contenido-botones-blanco">
                                                                <a href="#">Ver más</a>
                                                            </div>
                                                            <div class="col-6 crece-oportunidades-contenido-botones-azul">
                                                                <a href="#">Invertir</a>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
    
                                <div class="col-xl-4 col-lg-6 col-12">
                                    <div class="row justify-content-center">
                                        <div class="crece-oportunidades-contenedor">
                                            <div class="col-12 crece-oportunidades-imagen" style="background-image: url('{% static 'assets/JDT_7428.jpg' %}');">
                                                <div class="crece-oportunidades-imagen-gradiente">
                                                    <div class="crece-oportunidades-imagen-gradiente-texto">
                                                        <span>Capital de Trabajo</span>
                                                        <strong>José Yánez</strong>
                                                        <strong>Persona Natural</strong>
                                                        <span>ID: 5601</span>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="col-12">
                                                <div class="crece-oportunidades-contenido">
                                                    <div class="col-12 crece-oportunidades-contenido-monto">
                                                        <div class="col-12 crece-oportunidades-contenido-monto-texto">
                                                            <p>
                                                                <strong>$5000</strong><br>
                                                                $1300 recolectados de $5000
                                                            </p>
                                                            
                                                            <span></span>
                                                        </div>
                                                        <div class="col-12 crece-oportunidades-contenido-monto-barra">
                                                            <div style="width: 26%;" class="crece-oportunidades-contenido-monto-barra-progreso">
            
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-informacion">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Plazo</strong><br>
                                                                    12 Meses
                                                                </p>
                                                            </div>
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Industria</strong><br>
                                                                    Distribución
                                                                </p>
                                                            </div>
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Tasa(TIR)</strong><br>
                                                                    16.00%
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-solicitante">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <strong>José Yánez en CRECE</strong>
                                                            </div>
                                                            <div class="col-12">
                                                                <p>
                                                                    Comencé con mi negocio hace 4 años atrás junto al apoyo y 
                                                                    el aporte de mi familia. Nos dedicamos al diseño y confección 
                                                                    de uniforme de trabajo para todo tipo de industrias. Actualmente 
                                                                    mantengo contratos con empresas grandes de Guayaquil y sus 
                                                                    alrededores. Tengo que entregar un pedido de uniformes para uno de 
                                                                    los productores de azúcar más reconocido del medio, necesito capital 
                                                                    de trabajo para cubrir costos de materia prima y otros relacionados 
                                                                    a la producción y entrega.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-historial">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <p>
                                                                    <strong>Pagados</strong><br>
                                                                    2/3
                                                                </p>
                                                            </div>
                                                            <div class="col-4 crece-oportunidades-contenido-historial-centro">
                                                                <p>
                                                                    <strong>Puntualidad</strong><br>
                                                                    95%
                                                                </p>
                                                            </div>
                                                            <div class="col-4">
                                                                <p>
                                                                    <strong>Vigentes</strong><br>
                                                                    1/3
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-botones">
                                                        <div class="row">
                                                            <div class="col-6 crece-oportunidades-contenido-botones-blanco">
                                                                <a href="#">Ver más</a>
                                                            </div>
                                                            <div class="col-6 crece-oportunidades-contenido-botones-azul">
                                                                <a href="#">Invertir</a>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="col-xl-4 col-lg-6 col-12">
                                    <div class="row justify-content-center">
                                        <div class="crece-oportunidades-contenedor">
                                            <div class="col-12 crece-oportunidades-imagen" style="background-image: url('{% static 'assets/JDT_7428.jpg' %}');">
                                                <div class="crece-oportunidades-imagen-gradiente">
                                                    <div class="crece-oportunidades-imagen-gradiente-texto">
                                                        <span>Capital de Trabajo</span>
                                                        <strong>José Yánez</strong>
                                                        <strong>Persona Natural</strong>
                                                        <span>ID: 5601</span>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="col-12">
                                                <div class="crece-oportunidades-contenido">
                                                    <div class="col-12 crece-oportunidades-contenido-monto">
                                                        <div class="col-12 crece-oportunidades-contenido-monto-texto">
                                                            <p>
                                                                <strong>$5000</strong><br>
                                                                $1300 recolectados de $5000
                                                            </p>
                                                            
                                                            <span></span>
                                                        </div>
                                                        <div class="col-12 crece-oportunidades-contenido-monto-barra">
                                                            <div style="width: 26%;" class="crece-oportunidades-contenido-monto-barra-progreso">
            
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-informacion">
                                                        <div class="row">
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Plazo</strong><br>
                                                                    12 Meses
                                                                </p>
                                                            </div>
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Industria</strong><br>
                                                                    Distribución
                                                                </p>
                                                            </div>
                                                            <div class="col">
                                                                <p>
                                                                    <strong>Tasa(TIR)</strong><br>
                                                                    16.00%
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-solicitante">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <strong>José Yánez en CRECE</strong>
                                                            </div>
                                                            <div class="col-12">
                                                                <p>
                                                                    Comencé con mi negocio hace 4 años atrás junto al apoyo y 
                                                                    el aporte de mi familia. Nos dedicamos al diseño y confección 
                                                                    de uniforme de trabajo para todo tipo de industrias. Actualmente 
                                                                    mantengo contratos con empresas grandes de Guayaquil y sus 
                                                                    alrededores. Tengo que entregar un pedido de uniformes para uno de 
                                                                    los productores de azúcar más reconocido del medio, necesito capital 
                                                                    de trabajo para cubrir costos de materia prima y otros relacionados 
                                                                    a la producción y entrega.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-historial">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <p>
                                                                    <strong>Pagados</strong><br>
                                                                    2/3
                                                                </p>
                                                            </div>
                                                            <div class="col-4 crece-oportunidades-contenido-historial-centro">
                                                                <p>
                                                                    <strong>Puntualidad</strong><br>
                                                                    95%
                                                                </p>
                                                            </div>
                                                            <div class="col-4">
                                                                <p>
                                                                    <strong>Vigentes</strong><br>
                                                                    1/3
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 crece-oportunidades-contenido-botones">
                                                        <div class="row">
                                                            <div class="col-6 crece-oportunidades-contenido-botones-blanco">
                                                                <a href="#">Ver más</a>
                                                            </div>
                                                            <div class="col-6 crece-oportunidades-contenido-botones-azul">
                                                                <a href="#">Invertir</a>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                              </div>
                              <div class="col-12 crece-oportunidades-mas">
                                <div class="row justify-content-center">
                                    <a href="/lista_solicitudes/">Ver más</a>
                                </div>
                              </div>
                          </div>
                      </div>
                  </section>
  
  
                  <!-- Reconocimientos -->
  
  
  
                  <div class="crece-reconocimientos">
                     <div class="container crece-reconocimientos-vista col-lg-8">
                        <h2 class="crece-reconocimientos-vista-titulo">Reconocimientos</h2>
                        <div class="justify-content-center row">
                          <div class="row">
                              <div class="col-sm-4 col-lg-4 reconocimiento-col1">
                                <div><img class="img-responsive" src="{% static 'assets/1er_digital.png' %}"></div>
                                <div><img class="img-responsive" src="{% static 'assets/4to_ekos.png' %}"></div>
                              </div>
                              <div class="col-sm-4 col-lg reconocimiento-col2">
                                <div><img class="img-responsive" src="{% static 'assets/foto_reconocimiento_1.png' %}"></div>
                                <div><img class="img-responsive" src="{% static 'assets/foto_reconocimiento_2.png' %}"></div>
                              </div>
                          </div>
                        </div>
  
                      
                    </div>
  
                    <div class="container crece-reconocimientos-vista-mobile">
                        <h2>Reconocimientos</h2>
                        <div class="row">
                              <img class="img-responsive" src="{% static 'assets/1er_digital.png' %}">
                              <img class="img-responsive" src="{% static 'assets/foto_reconocimiento_1.png' %}">
                        </div>
                        <div class="row">
                          <img class="img-responsive" src="{% static 'assets/4to_ekos.png' %}">
                          <img class="img-responsive" src="{% static 'assets/foto_reconocimiento_2.png' %}">
                        </div>
                      
                      
                    </div>
                    
                  </div>
  
                {% endblock content %}
      


        {% block footer_javascript_agregado %}
         <script src="{% static 'js/general.js' %}"></script>
        {% endblock footer_javascript_agregado %}
        

    </body>
</html>