{% extends 'template_base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head_css_agregado %}
            <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
        {% endblock head_css_agregado %}
    </head>
    <body> 

                {% block content %}  
                <!-- Carrusel -->
                <section class="crece-carrusel">
                    <div class="crece-carrusel-imagenes">
  
                      <img src="{% static 'assets/Copy of Header conto.jpg' %}" alt="imagen 1">
                      <img src="{% static 'assets/Copy of header 5.jpg' %}" alt="imagen 2">
                      <img src="{% static 'assets/Copy of Header Yanes.jpg' %}" alt="imagen 3">
                    </div>
                  </section>
                  <section class="crece-main-mensaje">
                          <div class="container">
                              <p id="descripcion">Creemos que la rentabilidad con impacto social es posible.
                                                  Ponemos en contacto a pequeños y medianos emprendedores
                                                  con inversionistas que conceden los recursos.
                                                  Juntos definen las condiciones que los harán CRECER.
                                                  Nosotros nos encargamos del papeleo.</p>
                              <div class="row">
  
                                <img src="{% static 'assets/Negocio.png' %}">
                                <i class="fa fa-arrow-right"></i>
                                <img src="{% static 'assets/laptop.png' %}">
                                <i class="fa fa-arrow-left"></i>
                                <img src="{% static 'assets/Inversionistas.png' %}">
                              </div>
                      </div>
                  </section>
  
  
                  <!-- Solicitante/Inversionista -->
                  <section class="crece-solicitante-inversionista">
  
                    <div class="container">
                      <div class="row">
                            <div class="crece-solicitar-invertir">
                              <button class="btn crece-solicitar-button"><strong>Solicitar</strong></button>
                              <button class="btn crece-invertir-button"><strong>Invertir</strong></button>
                            </div>
                            
                      </div>
  
                      <div class="row crece-solicitar-contenido" id="crece-solicitar-id">
  
                          <div class="col-lg-6">
                            <div class="row crece-solicitar-text">
  
                                <div class="col-lg-2 col-xs-1">
                                  <img src="{% static 'assets/Paso1_calcula.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Calcula tu cuota
                                </div> 
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2">
                                  <img src="{% static 'assets/Paso2_llena.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Llena la solicitud
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2">
                                  <img src="{% static 'assets/Paso3_envia.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Envía tu información financiera
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2">
                                  <img src="{% static 'assets/Paso4_acepta.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Acepta las condiciones de financiamiento
                                </div>
                            </div>
                          </div>
  
                      </div>
                      
  
                      <div class="row crece-invertir-contenido" id="crece-invertir-id">
  
                          <div class="col-lg-6">
                            <div class="row crece-solicitar-text">
  
                                <div class="col-lg-2">
                                  <img src="{% static 'assets/Paso1_calcula.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Calcula tu retorno
                                </div> 
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2">
                                  <img src="{% static 'assets/Paso2_crea_usuario.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Crea tu usuaro e inicia sesion
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2">
                                  <img src="{% static 'assets/Paso3_monto.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Define el monto de tu inversion
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2">
                                  <img src="{% static 'assets/Paso2_llena.png' %}">
                                </div>
                                <div class="col-lg-10">
                                  Completa tus datos y haz la transferencia
                                </div>
                            </div>
                          </div>
  
                      </div>
  
  
                      <div class="row">
                        <!--div class="crece-solicitar col" id="crece-solicitar-id">
  
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso1_calcula.png' %}">
                              <div class="crece-solicitar-invertir-text">Calcula tu cuota</div>
                            </div>
  
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso2_llena.png' %}">
                              <div class="crece-solicitar-invertir-text">Llena la solicitud</div>
                            </div>
  
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso3_envia.png' %}">
                              <div class="crece-solicitar-invertir-text">Envía tu información financiera</div>
                            </div>
  
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso4_acepta.png' %}">
                              <div class="crece-solicitar-invertir-text">Acepta las condiciones de financiamiento</div>
                            </div>
                        </div-->
  
                        <!--div class="crece-invertir col" id="crece-invertir-id"> 
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso1_calcula.png' %}">
                              <div class="crece-solicitar-invertir-text">Calcula tu retorno</div>
                            </div>
  
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso2_crea_usuario.png' %}">
                              <div class="crece-solicitar-invertir-text">Crea tu usuaro e inicia sesion</div>
                            </div>
  
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso3_monto.png' %}">
                              <div class="crece-solicitar-invertir-text">Define el monto de tu inversion</div>
                            </div>
  
                            <div class="crece-solicitar-invertir-contenido">
                              <img src="{% static 'assets/Paso2_llena.png' %}">
                              <div class="crece-solicitar-invertir-text">Completa tus datos y haz la trasnferencia</div>
                            </div>
                        </div-->
                      </div>
  
  
                      
                    </div>
                        
                  </section>
  
                  <!-- Operaciones -->
                  <section class="crece-operaciones">
                    <div class="container">
                          <h5>Oportunidades de inversión </h5> 
                            <div class= "ccrece-operaciones-vista" id="crece-operaciones-contenido">
                              <div class="row">
  
                                <!--Operacion columna-->
                                <div class="col-sm-4 col-lg-3 crece-operaciones-col">
                                  
  
                                    <!--Imagen de operacion-->
                                    <div class="operacion-header">
                                      <img src="{% static 'assets/JDT_7428.jpg' %}">
                                    </div>
  
                                    <!--Autor de operacion-->
                                    <div class="operacion-autor">
                                      <p><strong>Jose Yanez</strong></p>
                                      <p>Persona natural</p>
                                    </div>
  
                                    <!--Detalle de operacion-->
                                    <div class="operacion-detalle">
                                      <div class="operacion-detalle-grid">
                                        <div class="row1-col1">
                                          <div class="detalle-1"><strong>ID</strong></div>
                                          <div>5960</div>
                                        </div>
                                        <div class="row1-col2">
                                          <div class="detalle-3"><strong>Solicita</strong></div>
                                          <div>5000</div>
                                        </div>
                                        <div class="row1-col3">
                                          <div class="detalle-4"><strong>Tasa (TIR)</strong></div>
                                          <div>16.0%</div>
                                        </div>
                                        <div class="row2-col1">
                                          <div class="detalle-1"><strong>Tipo</strong></div>
                                          <div>Capital de trabajo</div>
                                        </div>
                                        <div class="row2-col2">
                                          <div class="detalle-1"><strong>Industria</strong></div>
                                          <div>Distribucion</div>
                                        </div>
                                        <div class="operacion-historia-titulo">
                                          <strong>Historial del solicitante en CRECE</strong>
                                        </div>
                                        <div class="operacion-historia-1">
                                          <div><strong>Pagados</strong></div>
                                          <div>2/3</div>
                                        </div>
                                        <div class="operacion-historia-2">
                                          <div><strong>Vigentes</strong></div>
                                          <div>1/3</div>
                                        </div>
                                        <div class="operacion-historia-3">
                                          <div><strong>Puntualidad</strong></div>
                                          <div>95%</div>
                                        </div>
  
                                      </div>
  
                                    </div>
  
                                    <!--Progreso-->
                                    <div class="operacion-historia-progreso">
                                      <div class="operacion-historia-financiado">
                                        30% financiado
                                      </div>
  
                                      <div class="operacion-historia-enlace">
                                        Ver
                                      </div>
                                    </div>
  
                                </div>
  
                                <!--Operacion columna-->
                                <div class="col-sm-4 col-lg-3 crece-operaciones-col">
  
                                    <!--Imagen de operacion-->
                                    <div class="operacion-header">
                                      <img src="{% static 'assets/JDT_7428.jpg' %}">
                                    </div>
  
                                    <!--Autor de operacion-->
                                    <div class="operacion-autor">
                                      <p><strong>Jose Yanez</strong></p>
                                      <p>Persona natural</p>
                                    </div>
  
                                    <!--Detalle de operacion-->
                                    <div class="operacion-detalle">
                                      <div class="operacion-detalle-grid">
                                        <div class="row1-col1">
                                          <div class="detalle-1"><strong>ID</strong></div>
                                          <div>5962</div>
                                        </div>
                                        <div class="row1-col2">
                                          <div class="detalle-3"><strong>Solicita</strong></div>
                                          <div>5000</div>
                                        </div>
                                        <div class="row1-col3">
                                          <div class="detalle-4"><strong>Tasa (TIR)</strong></div>
                                          <div>16.0%</div>
                                        </div>
                                        <div class="row2-col1">
                                          <div class="detalle-1"><strong>Tipo</strong></div>
                                          <div>Capital de trabajo</div>
                                        </div>
                                        <div class="row2-col2">
                                          <div class="detalle-1"><strong>Industria</strong></div>
                                          <div>Distribucion</div>
                                        </div>
                                        <div class="operacion-historia-titulo">
                                          <strong>Historial del solicitante en CRECE</strong>
                                        </div>
                                        <div class="operacion-historia-1">
                                          <div><strong>Pagados</strong></div>
                                          <div>2/3</div>
                                        </div>
                                        <div class="operacion-historia-2">
                                          <div><strong>Vigentes</strong></div>
                                          <div>1/3</div>
                                        </div>
                                        <div class="operacion-historia-3">
                                          <div><strong>Puntualidad</strong></div>
                                          <div>95%</div>
                                        </div>
  
                                      </div>
  
                                    </div>
  
                                    <!--Progreso-->
                                    <div class="operacion-historia-progreso">
                                      <div class="operacion-historia-financiado">
                                        30% financiado
                                      </div>
  
                                      <div class="operacion-historia-enlace">
                                        Ver
                                      </div>
                                    </div>
  
                                </div>
  
                                <!--Operacion columna-->
                                <div class="col-sm-4 col-lg-3 crece-operaciones-col">
  
                                    <!--Imagen de operacion-->
                                    <div class="operacion-header">
                                      <img src="{% static 'assets/JDT_7428.jpg' %}">
                                    </div>
  
                                    <!--Autor de operacion-->
                                    <div class="operacion-autor">
                                      <p><Strong>Jose Yanez</Strong></p>
                                      <p>Persona natural</p>
                                    </div>
  
                                    <!--Detalle de operacion-->
                                    <div class="operacion-detalle">
                                      <div class="operacion-detalle-grid">
                                        <div class="row1-col1">
                                          <div class="detalle-1"><strong>ID</strong></div>
                                          <div>5963</div>
                                        </div>
                                        <div class="row1-col2">
                                          <div class="detalle-3"><strong>Solicita</strong></div>
                                          <div>5000</div>
                                        </div>
                                        <div class="row1-col3">
                                          <div class="detalle-4"><strong>Tasa (TIR)</strong></div>
                                          <div>16.0%</div>
                                        </div>
                                        <div class="row2-col1">
                                          <div class="detalle-1"><strong>Tipo</strong></div>
                                          <div>Capital de trabajo</div>
                                        </div>
                                        <div class="row2-col2">
                                          <div class="detalle-1"><strong>Industria</strong></div>
                                          <div>Distribucion</div>
                                        </div>
                                        <div class="operacion-historia-titulo">
                                          <strong>Historial del solicitante en CRECE</strong>
                                        </div>
                                        <div class="operacion-historia-1">
                                          <div><strong>Pagados</strong></div>
                                          <div>2/3</div>
                                        </div>
                                        <div class="operacion-historia-2">
                                          <div><strong>Vigentes</strong></div>
                                          <div>1/3</div>
                                        </div>
                                        <div class="operacion-historia-3">
                                          <div><strong>Puntualidad</strong></div>
                                          <div>95%</div>
                                        </div>
  
                                      </div>
  
                                    </div>
  
                                    <!--Progreso-->
                                    <div class="operacion-historia-progreso">
                                      <div class="operacion-historia-financiado">
                                        30% financiado
                                      </div>
  
                                      <div class="operacion-historia-enlace">
                                        Ver
                                      </div>
                                    </div>
  
                                </div>
  
  
                              </div>
                            </div>
  
                    </div>
                  </section>
  
  
                  <section class= "crece-operaciones-mobile">
  
                    <div class="container">
                          <h5>Oportunidades de inversión </h5> 
                            <div class= "ccrece-operaciones-vista-mobile" id="crece-operaciones-contenido-mobile">
                              <div class="row">
                                <div class="col crece-operaciones-col">
                                  
  
                                    <!--Imagen de operacion-->
                                    <div class="operacion-header">
                                      <img src="{% static 'assets/JDT_7428.jpg' %}">
                                    </div>
  
                                    <!--Autor de operacion-->
                                    <div class="operacion-autor">
                                      <p><strong>Jose Yanez</strong></p>
                                      <p>Persona natural</p>
                                    </div>
  
                                    <!--Detalle de operacion-->
                                    <div class="operacion-detalle">
                                      <div class="operacion-detalle-grid">
                                        <div class="row1-col1">
                                          <div class="detalle-1"><strong>ID</strong></div>
                                          <div>5963</div>
                                        </div>
                                        <div class="row1-col2">
                                          <div class="detalle-3"><strong>Solicita</strong></div>
                                          <div>5000</div>
                                        </div>
                                        <div class="row1-col3">
                                          <div class="detalle-4"><strong>Tasa (TIR)</strong></div>
                                          <div>16.0%</div>
                                        </div>
                                        <div class="row2-col1">
                                          <div class="detalle-1"><strong>Tipo</strong></div>
                                          <div>Capital de trabajo</div>
                                        </div>
                                        <div class="row2-col2">
                                          <div class="detalle-1"><strong>Industria</strong></div>
                                          <div>Distribucion</div>
                                        </div>
                                        <div class="operacion-historia-titulo">
                                          <strong>Historial del solicitante en CRECE</strong>
                                        </div>
                                        <div class="operacion-historia-1">
                                          <div><strong>Pagados</strong></div>
                                          <div>2/3</div>
                                        </div>
                                        <div class="operacion-historia-2">
                                          <div><strong>Vigentes</strong></div>
                                          <div>1/3</div>
                                        </div>
                                        <div class="operacion-historia-3">
                                          <div><strong>Puntualidad</strong></div>
                                          <div>95%</div>
                                        </div>
  
                                      </div>
  
                                    </div>
  
                                    <!--Progreso-->
                                    <div class="operacion-historia-progreso">
                                      <div class="operacion-historia-financiado">
                                        30% financiado
                                      </div>
  
                                      <div class="operacion-historia-enlace">
                                        Ver
                                      </div>
                                    </div>
  
                                  
  
                                </div>
                              </div>
                            </div>
  
                    </div>
                  </section>
  
  
                  <!-- Reconocimientos -->
  
  
  
                  <div class="crece-reconocimientos">
                     <div class="container crece-reconocimientos-vista">
                        <h2>Reconocimientos</h2>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 reconocimiento-col1">
                              <div><img class="img-responsive" src="{% static 'assets/1er_digital.png' %}"></div>
                              <div><img class="img-responsive" src="{% static 'assets/4to_ekos.png' %}"></div>
                            </div>
                            <div class="col-sm-4 col-lg reconocimiento-col2">
                              <div><img class="img-responsive" src="{% static 'assets/foto_reconocimiento_1.png' %}"></div>
                              <div><img class="img-responsive" src="{% static 'assets/foto_reconocimiento_2.png' %}"></div>
                            </div>
                        </div>
  
                      
                    </div>
  
                    <div class="container crece-reconocimientos-vista-mobile">
                        <h2>Reconocimientos</h2>
                        <div class="row">
                              <img class="img-responsive" src="{% static 'assets/1er_digital.png' %}">
                              <img class="img-responsive" src="{% static 'assets/foto_reconocimiento_1.png' %}">
                        </div>
                        <div class="row">
                          <img class="img-responsive" src="{% static 'assets/4to_ekos.png' %}">
                          <img class="img-responsive" src="{% static 'assets/foto_reconocimiento_2.png' %}">
                        </div>
                      
                      
                    </div>
                    
                  </div>
  
                {% endblock content %}
      


        {% block footer_javascript_agregado %}
         <script src="{% static 'js/general.js' %}"></script>
        {% endblock footer_javascript_agregado %}
        

    </body>
</html>