{% extends 'template_base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head_css_agregado %}
            <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'css/calculadora.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'css/bootstrap-slider.min.css' %}" rel="stylesheet" type="text/css">
           
           
        {% endblock head_css_agregado %}
    </head>
    <body> 

                {% block content %}  
                <!-- Carrusel -->
                <section class="crece-carrusel" id="crece-carrusel-id">
                    <div class="crece-carrusel-imagenes">
                      <img src="{% static 'assets/conto.jpg' %}" alt="imagen 1">
                      <img src="{% static 'assets/Orellana.jpg' %}" alt="imagen 2">
                      <img src="{% static 'assets/Yanez.jpg' %}" alt="imagen 3">
                    </div>
                    <div class="crece-carrusel-imagenes-movil">
                      <img src="{% static 'assets/conto_movil.jpg' %}" alt="imagen 1">
                      <img src="{% static 'assets/Orellana_movil.jpg' %}" alt="imagen 2">
                      <img src="{% static 'assets/Yanez_movil.JPG' %}" alt="imagen 3">
                    </div>
                  </section>
                  <section class="crece-main-mensaje justify-content-center text-center row">
                          <div class="container col-12 col-lg-7">
                              <p><strong>Creemos que la rentabilidad con impacto social es posible.</strong><br>
                                Ponemos en contacto a pequeños y medianos emprendedores que necesitan 
                                financiamiento con inversionistas que conceden los recursos.</p>
                              <p>
                                  Juntos definen las condiciones que los harán CRECER.
                                  Nosotros nos encargamos de hacerlo posible.</p>
                              <div class="row justify-content-center crece-main-mensaje-imagenes">
                                <div>
                                    <img src="{% static 'assets/inversionistas_crece_solicitantes.png' %}">
                                </div>
                              </div>
                              <div class="row justify-content-center crece-main-mensaje-imagenes-movil">
                                <div>
                                    <img src="{% static 'assets/inversionistas_crece_solicitantes.png' %}">
                                </div>
                              </div>
                      </div>
                  </section>
  
  
                  <!-- Solicitante/Inversionista -->
                  
                  <section class="crece-solicitante-inversionista" id="crece-solicitante-inversionista-id">
                    <div class="row">
                    <div class="container  justify-content-center col-sm-8 col-lg-12 col-xl-9">

                      <div class="row">
                            <div class="crece-solicitar-invertir">
                              <button class="btn crece-solicitar-button crece-solicitar-invertir-elegido"><strong>Solicitar</strong></button>
                              <button class="btn crece-invertir-button"><strong>Invertir</strong></button>
                            </div>
                            
                      </div>
  
                      <div class="row crece-solicitar-contenido justify-content-center" id="crece-solicitar-id" style="margin-top: 24px;">
  
                          <div class="col-lg-5 col-12 crece-solicitar-contenido-infografia-izquierda" id="crece-solicitar-contenido-infografia-izquierda-id">
                            <div class="row crece-solicitar-text">
  
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso1_calcula.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-8">
                                  1. Calcula tu cuota
                                </div> 
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso2_llena.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-8">
                                  2. Llena la solicitud
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso3_envia.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-8">
                                  3. Envía tu información financiera
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-md-auto col-auto">
                                  <img src="{% static 'assets/Paso4_acepta.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-8 col-8">
                                  4. Acepta las condiciones de financiamiento
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-12">
                            <div class="row justify-content-center">

                                <!--Calculadora de solicitante-->

                                      <div class="crece-calculadora-solicitante-container container">
                                            

                                            <!--Instruccion como usar la calculadora>
                                            <div class="crece-instruccion-calculadora">
                                             <i class="fa fa-info-circle"></i>  <span>Desliza los botones en las barras acorde a tu necesidad.</span>
                                            </div-->
                                                    <!--CaAPITAL-->
                                            <div class="row calculadora-solicitante-capital">
                                                  <div class="col">
                                                    <span class="calculadora-header-valor">Capital:</span>

                                                  </div>

                                              <div class="col">
                                                
                                                <span class="calculadora-valores">

                                                  <span id="valor-capital"></span>

                                                </span>
                                                
                                              </div>

                                            </div>

                                            <div class="row">
                                              <div class="col-12 slidecontainer-solicitante">

                                                  <!--input class="solicitante solicitante-slider" type="range" min="1000" max="10000" value="5000" id="rango-capital" name="capital" step="100" list="valores_capital"--> 


                                                  <input 
                                                  id="capital-solicitante"
                                                  type="text"
                                                  name="capital"
                                                  data-slider-min="2000"
                                                  data-slider-max="10000"
                                                  data-slider-step="100"
                                                  data-slider-value="5000"

                                                  
                                                  />
                                                  <!--ul class="range-labels">
                                                  <li class="">US$2000</li>
                                                  <li>US$4000</li>
                                                  <li>US$6000</li>
                                                  <li>US$8000</li>
                                                </ul-->
                                              </div>
                                            </div>


                                              <!--PLAZO-->
                                              <div class="row calculadora-solicitante-plazo">

                                                <div class="col">
                                                    <span class="calculadora-header-valor">Plazo:</span>
                                                </div>

                                                <div class="col">
                                                     <span class="calculadora-valores" >
                                                        <span id="valor-plazo" ></span>

                                                       
                                                     </span> 
                                                </div>
                                              </div>

                                              <div class="row">
                                                <div class="col-12 slidecontainer-solicitante">
                                                  <!--input class="solicitante solicitante-slider" type="range" min="3" max="18" value="12" id="rango-plazo" name="plazo"-->
                                                  <input 
                                                  id="plazo-solicitante"
                                                  type="text"
                                                  name="plazo"
                                                  data-slider-min="3"
                                                  data-slider-max="18"
                                                  data-slider-step="1"
                                                  data-slider-value="12"
                                                  
                                                  />
                                                </div>
                                                
                                              </div>


                                              <!--TASA-->
                                              <div class="row calculadora-solicitante-tasa">

                                               
                                                <div class="col">
                                                  <span class="calculadora-header-valor">Tasa  de interés: </span>
                                                </div>

                                                <div class="col" id="slider-container-tasa-id">
                                                   
                                                     <span class="calculadora-valores">
                                                        <span id="valor-tasa"></span>

                                                     </span>
                                                </div>

                                              </div>

                                              <div class="row">
                                                <div class="col-12 slidecontainer-solicitante">
                                                   <!--input  class="solicitante solicitante-slider" type="range" min="14" max="30" value="24" id="rango-tasa" name="tasa"-->
                                                   <input 
                                                  id="tasa-solicitante"
                                                  type="text"
                                                  name="tasa"
                                                  data-slider-min="14"
                                                  data-slider-max="30"
                                                  data-slider-step="1"
                                                  data-slider-value="24"

                                                  
                                                  />
                                                </div>
                                              </div>


                                              <!--CUOTA MENSUAL-->
                                              <div class="container-final-calculadora container">
                                                    <div class="row calculadora-solicitante-cuota" style="
                                                                margin-top: 15px;">
                                                      <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                                                          Cuota mensual*:
                                                          <div id="cuota-valor"> </div>
                                                      </div>
                                                      <!--BOTON SOLICITAR-->
                                                      <div class="col-5 col-sm-5 col-md-5 col-lg-5" style="text-align: center;">
                                                         <a href="anunciar-solicitud"><button id="calculadora-solicitar">Solicitar</button> </a>
                                                      </div>
                                                    </div>


                                                    
                                              </div>
                                            <div class="row">
                                               <!--FOOTNOTE-->
                                                <div class="crece-calculadora-footnote container">
                                                  *La cuota calculada es estimada y dependerá de factores como el plazo, interés
                                                      pagado por el solicitante y cargos administrativos.
                                                </div>

                                                <!--FIN FOOTNOTE-->
                                            </div>

                                      </div>
                                <!--Fin calculadora de solicitante-->
                                


                                   

                            </div> 
                          </div>
  
                      </div>
                      
                      <div class="row crece-invertir-contenido justify-content-center" id="crece-invertir-id" style="margin-top: 24px;">
  
                          <div class="col-lg-5 crece-solicitar-contenido-infografia-izquierda" id="crece-invertir-contenido-infografia-izquierda-id">
                            <div class="row crece-solicitar-text">
  
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso1_calcula.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-8">
                                  1. Calcula tu retorno
                                </div> 
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso2_crea_usuario.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-8">
                                  2. Crea tu usuario e inicia sesión
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-auto">
                                  <img src="{% static 'assets/Paso3_monto.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-auto col-8">
                                  3. Define el monto de tu inversión
                                </div>
                            </div>
  
                            <div class="row crece-solicitar-text">
                                <div class="col-lg-2 col-md-auto col-auto">
                                  <img src="{% static 'assets/Paso2_llena.png' %}">
                                </div>
                                <div class="col-lg-10 col-md-8 col-8">
                                  <span>4. Completa tus datos y haz la transferencia</span>
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="row justify-content-center">


                                <!--Calculadora de inversionista-->
                                <div class="crece-calculadora-inversionista-container container">

                                          <!--CAPITAL-->
                                          <div class="row calculadora-inversionista-capital">

                                                <div class="col">
                                                  <span class="calculadora-header-valor">Monto a invertir:</span>

                                                </div>

                                              <div class="col slidecontainer">
                                                
                                                <span class="calculadora-valores-inversionista">

                                                  <span id="valor-capital-inversionista"></span>

                                                </span>
                                                
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-12 slidecontainer-inversionista">
                                              <!--input class="inversionista inversionista-slider" type="range" min="2000" max="10000" value="5000"  id="rango-capital'inversionista" name="capital" step="100"-->

                                              <input 
                                                  id="capital-inversionista"
                                                  type="text"
                                                  name="capital"
                                                  data-slider-min="500"
                                                  data-slider-max="12000"
                                                  data-slider-step="100"
                                                  data-slider-value="5000"
                                                  
                                                  
                                                  />
                                            </div>
                                          </div>


                                            <div class="row calculadora-inversionista-plazo" style="margin-top: 18px;">
                                              <div class="col">
                                                  <span class="calculadora-header-valor">Plazo de la operación:</span>
                                              </div>

                                              <div class="col slidecontainer" style="
                                                              margin-top: auto;
                                                              margin-bottom: auto;">
                                                   <span class="calculadora-valores-inversionista" >
                                                      <span id="valor-plazo-inversionista" ></span>


                                                   </span> 
                                              </div>

                                            </div>
                                            <div class="row">
                                              <div class="col-12 slidecontainer-inversionista">
                                                <!--input class="inversionista inversionista-slider" type="range" min="3" max="18" value="12" id="rango-plazo'inversionista" name="plazo"-->

                                                 <input 
                                                  id="plazo-inversionista"
                                                  type="text"
                                                  name="plazo"
                                                  data-slider-min="3"
                                                  data-slider-max="18"
                                                  data-slider-step="1"
                                                  data-slider-value="12"
                                                  
                                                  />
                                              </div>
                                            </div>

                                            

                                            <!--TASA INTERNA DE RETORNO-->
                                            <div class="row calculadora-inversionista-tir" >
                                              <div class="col-sm-7">

                                                  <span class="calculadora-header-valor">Rendimiento referencial de operaciones similares*:</span>
                                              </div>
                                              <div class="col-sm-5" style="
                                                        margin-top: auto;
                                                        margin-bottom: auto;">

                                                <div id="tir-valor-inversionista"></div>
                                              </div>
                                            </div>


                                            <!--PAGO TOTAL-->
                                            <div class="row calculadora-inversionista-cuota" style="
                                                                                                    margin-top: 9px;
                                                                                                ">
                                              <div class="col-sm-7">
                                                  <span class="calculadora-header-valor">En total recibirás*:</span>

                                              </div>
                                              <div class="col-sm-5">
                                                <div id="cuota-valor-inversionista"></div>
                                              </div>
                                            </div>


                                            <!--COMPARACIONES-->
                                            <div class="calculadora-comparaciones container">

                                             
                                                  
                                                   <div class="row">
                                                      <div class="col-7 col-sm-7 col-md-7 col-lg-7">
                                                        <span >Ganancia</span>
                                                        <div id="comparacion-crece"></div>
                                                        <div class="comparaciones-banco">Ganancia bancos°:  <span  id="comparacion-bancos"></span>
                                                      </div>
                                                      </div>
                                                      <div class="col-5 col-sm-5 col-md-5 col-lg-5" style="text-align:center;">
                                                         <a href="/inversionista/login/"><button id="calculadora-invertir">Invertir</button> </a>

                                                      </div>
                                                    </div>


                                                   
                                            </div>

                                          <!--FOOTNOTE-->
                                            <div class="crece-calculadora-footnote row" id="footnote-invertir-id">
                                                <div class="col">
                                                  *El rendimiento se refiere a la TIR, y al igual que la ganancia, es una estimación en base a 
                                                      operaciones similares. °La referencia de los bancos es un estimado en base a sus productos. 
                                                </div>
                                            </div>


                                            <!--FIN FOOTNOTE-->


                                </div>

                                <!--Fin de calculadora de Inversionista-->
                                


                                  

                            </div> 
                          </div>
  
                      </div>
               </div>
                       </div>
                  </section>

                  <!-- Oportunidades -->
                  <section class="crece-oportunidades">
                      <div class="row justify-content-center">
                          <div class="container col-lg-10">
                                <div class="col-12">
                                    <h2 class="crece-oportunidades-titulo">Oportunidades de Inversión</h2>
                                </div>
                                <div class="row justify-content-center crece-oportunidades-container">
                                </div>
                                <div class="col-12 crece-oportunidades-mas">
                                    <div class="row justify-content-center">
                                        <a href="/invertir/">Ver más</a>
                                    </div>
                                </div>
                          </div>
                      </div>
                  </section>
                  
                  <!--modal detalle oportunidad-->
                  <section class="crece-modal">
                      <div class="crece-modal-container">
  
                      </div>
  
                  </section>
  
  
                  <!-- Reconocimientos -->
  
  
  
                  <div class="crece-reconocimientos">
                     <div class="container crece-reconocimientos-vista col-lg-10">
                        <div class="col-12">
                            <h2 class="crece-reconocimientos-vista-titulo">Reconocimientos</h2>
                        </div>
                        <div class="justify-content-center row">
                          <div class="col-10">
                            <div class="row justify-content-center">
                              <div class="col-6">
                                <div class="row justify-content-center">
                                    <div>
                                      <a target="_blank" rel="noopener noreferrer" href="http://www.digitalbankla.com/noticias/crece-ecuador-es-la-startup-ganadora-del-digital-guayaquil/">
                                        <img class="img-responsive" src="{% static 'assets/Premio_DB.png' %}">
                                      </a>
                                    </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="row justify-content-center">
                                    <div>
                                      <a target="_blank" rel="noopener noreferrer" href="https://www.ekosnegocios.com/articulo/el-startup-summit-fue-el-evento-que-promovio-el-desarrollo-del-ecosistema-emprendedor-del-pais">
                                        <img class="img-responsive" src="{% static 'assets/Premio_Ekos.png' %}">
                                      </a>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
  
                      
                    </div>
  
                    <div class="container crece-reconocimientos-vista-mobile">
                        <h2 class="crece-reconocimientos-vista-titulo">Reconocimientos</h2>
                        <div class="justify-content-center row">
                            <div class="col-12">
                              <div class="row justify-content-center">
                                <div class="col-12">
                                  <div class="row justify-content-center">
                                        <a target="_blank" rel="noopener noreferrer" href="http://www.digitalbankla.com/noticias/crece-ecuador-es-la-startup-ganadora-del-digital-guayaquil/">
                                          <img class="img-responsive" src="{% static 'assets/Premio_DB.png' %}">
                                        </a>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="row justify-content-center">
                                      <div>
                                        <a target="_blank" rel="noopener noreferrer" href="https://www.ekosnegocios.com/articulo/el-startup-summit-fue-el-evento-que-promovio-el-desarrollo-del-ecosistema-emprendedor-del-pais">
                                          <img class="img-responsive" src="{% static 'assets/Premio_Ekos.png' %}">
                                        </a>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      
                      
                    </div>
                    
                  </div>
  
                {% endblock content %}
      


        {% block footer_javascript_agregado %}
        <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
        <script src="{% static 'js/line_wrap.js' %}"></script>
        <script src="{% static 'js/general.js' %}"></script>
        <script src="{% static 'js/calculadora.js' %}"></script>
        <script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
        <script src="{% static 'js/tooltip-crece.js' %}"></script>
        {% endblock footer_javascript_agregado %}
        

    </body>
</html>
