{% extends 'template_base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head_css_agregado %}
            <link href="{% static 'css/preguntas_frecuentes.css' %}" rel="stylesheet" type="text/css">

        {% endblock head_css_agregado %}
    </head>
    <body> 

                {% block content %}
                
		                <div class="container main-container">
		                	
		                	<div class="row crece-header-preguntas-frecuentes">
		                		<div class="col">
		                			<span>Preguntas Frecuentes</span>
		                			
		                			
		                				<i class="fa fa-search" aria-hidden="true"></i>
		                			

		                		</div>
		                		
		                		

		                	</div>

		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">

		                			¿Qué es CRECE ECUADOR?
		                		
		                			<i class="fa fa-angle-down"></i>
		                		</div>	
		                			
		                		<div class="col respuesta-frecuente">
		                			<p>
			                			Crece ecuador es una plataforma virtual de anuncio de emprendimientos y financiamiento colaborativo donde se encuentran personas que tienen un negocio en funcionamiento y excelente trayectoria con inversionistas que están en búsqueda de emprendedores a quienes dar apoyo o financiar de forma colectiva.
		                			</p>
		                		</div>
		                		
		                	</div>

		                	<div class="row crece-pregunta-frecuente-container">
		                		
		                		<div class="col pregunta-frecuente">
			                		¿Quiénes son los inversionistas?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Son personas naturales o empresas, residentes en Ecuador, que tienen ahorros provenientes de su actividad profesional lícita y verificada.
			                		</p>
			                	</div>
		                	</div>

		                	<div class="row crece-pregunta-frecuente-container">
		                		
		                		<div class="col pregunta-frecuente">
			                		¿Quiénes son los anunciantes o solicitantes?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Son personas naturales o empresas residentes en Ecuador que necesitan asesoría o financiamiento para comprar activos productivos o capital de trabajo para incrementar las ventas o reducir los costos de su negocio y así impulsar el crecimiento de su emprendimiento
			                		</p>
			                	</div>
		                	</div>

		                	<div class="row crece-pregunta-frecuente-container">
		                		
		                		<div class="col pregunta-frecuente">
			                		¿Qué puedo hacer en la página web?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Actualmente puedes explicar que hace tu negocio, publicar cuánto financiamiento necesitarías para crecer, usar nuestra calculadora para simular un financiamiento, navegar en la lista de emprendedores y registrarte como inversionista.
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿Puedo publicar mi negocio si aún no está en funcionamiento?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Por el momento no es posible.
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿Cuál es el proceso de anunciar mi solicitud?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			La aplicación se hace a través de un formulario electrónico que se encuentra en menú de Solicitantes en la pestaña Anunciar Solicitud de Financiamiento. Allí indicarás el monto que necesitas, la tasa que puedes pagar y el tiempo. Al Ingresar tu solicitud recibirás un correo de confirmación. Tu caso se asignará a un ejecutivo quién hará un primer análisis y se comunicará contigo máximo 24 horas después.

	Tu asesor te hará llegar a tu correo el siguiente paso a seguir para continuar con tu anuncio. Una vez terminado el proceso de calificación, nuestro equipo te recomendará como deberías presentar tu caso ante inversionistas que estén dispuestos a ayudarte. Si estás de acuerdo, se publicará tu anuncio en nuestro portal.
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿A qué tasa debo financiarme?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Recuerda que la normativa legal determina las tasas máximas a las cuáles debe financiarse una persona según la entidad a la que acuda. Para las operaciones de financiamiento fuera del sistema financiero nacional se podrá negociar una tasa entre las partes pero que nunca supere la tasa máxima del segmento de crédito res
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿Puedo recibir asesoría de Crece para poner en orden mi negocio?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Si. Nuestros ejecutivos están capacitados para brindar asesoría a quien necesite ayuda en la administración operativa y financiera de tu empresa.
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿Tiene algún costo la asesoría de Crece?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Si. Y para tu beneficio, el cargo se cobra solamente si el anuncio fue publicado y encontraste inversionistas que te ayuden con tu solicitud.
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿Cómo se formaliza una entrega de fondos por parte de inversionistas?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Cuando una solicitud ha sido respondida en su totalidad, asesoramos tanto a solicitantes como inversionistas en la forma en la que deberán formalizar e instrumentar la entrega de fondos. Actualmente, recomendamos la firma de un pagaré y un contrato donde se definen las condiciones del trato y el tipo de garantía que ofrecen los solicitantes a sus inversionistas.
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿Cómo me convierto en inversionista?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Te ponemos a disposición el listado de emprendedores que han anunciado su negocio en nuestra página donde podrás navegar libremente. Si elegiste a un emprendedor a quién ayudar y cuánto dinero deseas contribuirle, deberás iniciar sesión para conocer más sobre el emprendimiento elegido. Si no te has registrado, da clic en "Crear usuario" y llena los campos que aparecerán. Un asesor se comunicará contigo a la brevedad posible para darte información adicional.
			                		</p>
			                	</div>
		                	</div>
		                	<div class="row crece-pregunta-frecuente-container">
		                		<div class="col pregunta-frecuente">
			                		¿Qué tan seguro es invertir en emprendimientos?
			                		
			                			<i class="fa fa-angle-down"></i>
		                		</div>
		                		<div class="col respuesta-frecuente">
			                		<p>
			                			Asegúrate de revisar toda la información disponible de los negocios en los que te gustaría invertir. Nuestro equipo de consultores brinda asesoría a los solicitantes de anuncios en nuestra página web. Si el solicitante lo autoriza, podemos darte acceso a su información financiera y de modelo de negocio para que conozcas más de ellos.

	Si estás interesado en prestarle fondos a un emprendimiento, aseguráte de solicitar un aval ya sea un pagaré, un garante personal o algún activo que respalde la entrega de los fondos.
	A pesar de ello, existe el riesgo que un negocio pase por momentos de iliquidez o incluso quiebre y no sea capaz de pagar sus obligaciones. Ponemos a tu disposición a nuestro departamento legal que te ayudará a realizar las acciones necesarias para hacer efectiva las garantías que algún emprendedor te haya dejado.
	Buscando evitar este escenario, puedes contratar a nuestro departamento de cobranza que se encargará de gestionar judicial y extrajudicialmente los pagos de tus deudores previo autorización por medio de un mandato.
	Adicional, te recomendamo solicitar a los financiados que entreguen información periódica sobre el negocio y todos los cambios que se realicen a lo largo de la vigencia de la operación.a
			                		</p>
			                	</div>
		                	</div>



		                </div>

                {% endblock content %}
      


        {% block footer_javascript_agregado %}
            <script src="{% static 'js/preguntas_frecuentes.js' %}"></script>
        {% endblock footer_javascript_agregado %}
        

    </body>
</html>
