section, aside, footer {
    margin: 0;
    padding: 16px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}

main{
  padding-left: 0;
  padding-right: 0;
}
ul {
  list-style: none;
}

header{
  margin: 0;
  padding: 0px 16px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

nav a{
  color: #ffffff;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

ul li{
  margin-left: 10px;
  margin-right: 10px;}

footer{
  background: #006B8D;
  font-family: 'PT Sans', sans-serif;
}

/*Header*/
.crece-header {
  top: 0;
  left: 0;
  background: white;
  position: sticky;
  position: -webkit-sticky;
  z-index: 10000;
  box-shadow: 0px 1px 1px #0000005D;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.crece-header a{
  color: #006B8D;
}

.crece-header a:hover{
  text-decoration-line: underline;
}

.crece-header-contenido-mobile{display: none;}

.crece-header-nav{
  margin: auto;
  font-size: 17.75px;
  font-weight: 200;
}

.crece-header-nav-ingresar{
  font-weight: 700;
  margin: 0px 10px;
}

.crece-menu-toogle{
  margin: auto;
  display: none;
  color: #006b8d;
}


/*Footer*/
.crece-footer-contenido-enlaces a{
  color: #08A7BA;
  font-weight: 400;
}

.crece-footer-redes{
    display: flex;
}

.crece-footer-redes-lista li{
    display: inline-block;
}

.crece-footer-about div{ 
  margin-top: 15px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.crece-footer-about p{ 
  margin: 20px 8px;
  font-size: 12.91px;
}

.crece-footer-contenido-enlaces{
  padding: 0;
}
.crece-footer-contenido-enlaces ul{
  padding: 0;
}

.crece-footer-contenido-mobile a{
  color: #08A7BA;
}

.crece-footer-contenido-mobile a:hover{
  text-decoration-line: underline;
}

.crece-footer-redes-lista{
  padding: 0px;
}




/*Dispositivos mayores a 992px*/
@media screen and (min-width: 992px) {

  /*Header*/
  .navbar{
    float: right;
  }
  .crece-header {
    padding: 9px 16px;
  }

  .crece-header-nav-ingresar{
    width: 133px;
    height: 44px;
    background-color: #08a7ba;
    color: white !important;
    text-align: center;
  }
  


  /*Footer*/
  
  .crece-footer-redes div{
    font-size: 34.29px;
  }

  .crece-footer-redes ul{
    margin: 0px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    padding: 0px;
  }

  .crece-footer-redes-lista li{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
  }

  .crece-footer-contenido-mobile{
    display: none;
  }

  .crece-footer-contenido{
    margin-top: 50px;
  }

  .crece-footer-contenido-logo img{
    
  }

  .crece-footer-contenido-enlaces{
    font-size: 20px;
  }

  .crece-footer-contenido div.row{
    margin-left: 100px;
  }

  .crece-footer-contenido-enlaces ul li{
    margin:  0
  }

}

/*Dispositivos como tablets o menores de 992 y mayores a 600*/
@media screen and (max-width: 991px){
  
  /*Header*/
  .crece-header-nav{
    display: none;
  }

  .crece-header-contenido.mobile div.crece-header-nav{
    display: block;
    margin: 0;
  }

  .crece-header-nav-ingresar{
    margin: 0px;
    padding: 8px 0px;
  }
  .crece-menu-toogle{
    display: block;
  }

  .crece-header-nav ul{
    display: block;
  }

 

  /*fOOTER*/

  .crece-footer-redes-lista img#crece-facebook {
    width: 14px;
  }

  .crece-footer-redes-lista img:first-child {
    width: 25px;
  }




  /*Footer*/
  .crece-footer-contenido-mobile{
    display: none;
  }
}



/*Para dispositivos moviles*/
@media screen and (max-width: 600px) {
  .crece-header-logo-imagen img{
    height: 30px;
  }

  .crece-header-nav{
    display: none;
  }





}


@media screen and (max-width: 600px) {
  /*Header*/
  .crece-menu-toogle{
    display: block;
  }

  .crece-header-contenido.mobile div.crece-header-nav{
    display: block;
    margin: 0;
  }

  /*FOOTER*/
  .crece-footer-contenido-mobile{
    display: block;
  }

  .crece-footer-redes-lista img:first-child{
    width: 25px;
  }
  .crece-footer-redes-lista img#crece-facebook{
    width: 14px;
  }

  .crece-footer-about p{
    font-size: 10px;
  }

  .crece-footer-contenido{
    display: none;
  }

  .crece-footer-contenido-mobile{
    margin-top: 25px;
  }

}
