:root{
  --calculadora-invertir-bg-color:#08A7BA;
  --calculadora-solicitar-bg-color:#006B8D;
  --calculadora-valores-inversionista-bg-color:#08a7ba;
  --btn-calculadora-bg-color:#aecb6f;

  --cuota-total-color: #F3DD29;
  --letra-color:#ffffff;
  --boton-solicitar-color:#63B1C6;
  --range-bg-color: #157FA2;
  --calculadora-anchura-width: 433px;

  --calculadora-altura-min-height: 414.31px;
  --valores-font-size: 17px;

  --banco-bg-bar-color: #B16A71;
  --footnote-color: #ffffff;
  --bordes-calculadora-border-radius:20px;
}



/*Slider SOlicitante*/
input[type=range].solicitante {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.3px 0;
  position: relative;
  top: -11.4px;

}
input[type=range].solicitante:focus {
  outline: none;
  background: none;
}
input[type=range].solicitante::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
  background: #aecb6f;
  border-radius: 25px;
  border: 0px solid #000000;
}
input[type=range].solicitante::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #aecb6f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.3px;
}
input[type=range].solicitante:focus::-webkit-slider-runnable-track {
  background: #b0cc73;
}
input[type=range].solicitante::-moz-range-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
  background: #aecb6f;
  border-radius: 25px;
  border: 0px solid #000000;
}
input[type=range].solicitante::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #aecb6f;
  cursor: pointer;
}
input[type=range].solicitante::-ms-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].solicitante::-ms-fill-lower {
  background: #acca6b;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].solicitante::-ms-fill-upper {
  background: #aecb6f;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].solicitante::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #aecb6f;
  cursor: pointer;
  height: 4.4px;
}
input[type=range].solicitante:focus::-ms-fill-lower {
  background: #aecb6f;
}
input[type=range].solicitante:focus::-ms-fill-upper {
  background: #b0cc73;
}












/*Container*/
.crece-calculadora-solicitante-container{
 position: relative;
    min-height: var(--calculadora-altura-min-height);
    max-width: var(--calculadora-anchura-width);

    background-color: var(--calculadora-solicitar-bg-color);

    font-size: 18pt;
    border-radius: var(--bordes-calculadora-border-radius);
    color: var(--letra-color);
}

div.crece-instruccion-calculadora span{
  font-size: 11pt;
  border-radius: 5px;
  text-align: center;
}

.crece-calculadora-solicitante-container>div{
  margin-top: 10px;
}

.calculadora-solicitante-tasa{
  position: relative;

}

.calculadora-solicitante-cuota{
  color: var(--calculadora-solicitar-bg-color);
  font-weight: bold;
  font-size: 21px;
  padding: 6.34px 0px;

}

.calculadora-solicitante-cuota div{
  margin-bottom: auto;
  margin-top: auto;
}

#slider-container-tasa-id{

}





.calculadora-valores{

    background-color: #ffffff;
    color: var(--calculadora-solicitar-bg-color);
    font-size: var(--valores-font-size);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 21px;

}



#cuota-valor{

 
  border-radius: 8px;

  width: 100%;
  font-weight:bold;
}

#calculadora-solicitar{

  background-color: var(--btn-calculadora-bg-color);

  color: #ffffff;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px 15px;
  text-align: center;
  font-size: 22px;
      border-radius: 8px;


}




/********INVERSIONISTA*********/

/*Slider Inversionista*/
input[type=range].inversionista {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.3px 0;
}
input[type=range].inversionista:focus {
  outline: none;
}
input[type=range].inversionista::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
  background: #aecb6f;
  border-radius: 25px;
  border: 0px solid #000000;
}
input[type=range].inversionista::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #aecb6f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.3px;
}
input[type=range].inversionista:focus::-webkit-slider-runnable-track {
  background: #b9d282;
}
input[type=range].inversionista::-moz-range-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
  background: #aecb6f;
  border-radius: 25px;
  border: 0px solid #000000;
}
input[type=range].inversionista::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #aecb6f;
  cursor: pointer;
}
input[type=range].inversionista::-ms-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].inversionista::-ms-fill-lower {
  background: #a3c45c;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].inversionista::-ms-fill-upper {
  background: #aecb6f;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 1.3px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].inversionista::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #aecb6f;
  cursor: pointer;
  height: 4.4px;
}
input[type=range].inversionista:focus::-ms-fill-lower {
  background: #aecb6f;
}
input[type=range].inversionista:focus::-ms-fill-upper {
  background: #b9d282;
}




.crece-calculadora-inversionista-container{
  background-color: var(--calculadora-invertir-bg-color);
  max-width: var(--calculadora-anchura-width);

  min-height: var(--calculadora-altura-min-height);
  color: #ffffff;
  font-size: 15pt;

  border-radius: var(--bordes-calculadora-border-radius);
}

.crece-calculadora-inversionista-container>div{
  margin-top: 9px;
}

.calculadora-valores-inversionista{
  background-color: #ffffff;
  color: var(--calculadora-solicitar-bg-color);
  font-size: var(--valores-font-size);
  padding: 5px 10px;
  border-radius: 21px;
  font-weight: bold;
      border-radius: 21px;
}

.calculadora-inversionista-tir{
  position: relative;
  line-height: initial;
}

#cuota-valor-inversionista, #tir-valor-inversionista{

  position: relative;
  background-color: var(--cuota-total-color);
  color: var(--calculadora-solicitar-bg-color);
  text-align: center;
  width: 100%;
  padding: 3px 5px;
  border-radius: 21px;
  font-weight: bold;
  font-size: var(--valores-font-size);
}



/*Comparaciones*/
.calculadora-comparaciones{
  font-size: 11pt;
  background-color: #ffffff;
  color: var(--calculadora-solicitar-bg-color);
  font-weight: bold;
  margin-top: 15px !important;
  border-radius: 8px;
  font-size: 21px

}

.calculadora-comparaciones div{
  margin-top: auto;
  margin-bottom: auto;
}

.calculadora-comparaciones span{

  font-size: 21px;
  font-weight:bold;
}

.comparaciones-banco{
  font-size: 10px;
}

.comparaciones-banco span{
  font-size: 10px;
}


#calculadora-invertir{
  background-color: var(--btn-calculadora-bg-color);

  color: #ffffff;
  font-weight: bold;
  padding: 5px 15px;
    margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 22px;
      border-radius: 8px;

}


.calculadora-header-valor{
  font-size: 17px;
}

.container-final-calculadora{
  background-color: #ffffff;
      border-radius: 8px;
}

.crece-calculadora-footnote{
  color: var(--footnote-color);
  font-size: 8px;
  max-width: var(--calculadora-anchura-width);
  font-weight: 100;
}


/*.slidecontainer-solicitante{
  position: relative;
  margin-top: 0px !important;
}

.slider-valores{
  margin-top: 0px !important;
  position: relative;
}

.range-labels {
  list-style: none;
  font-size: 11px;
  position: absolute;
  top: 25px;
 padding-left: 0px;
}

.range-labels li {
  position: relative;
  float: left;
  text-align: center;

  cursor: pointer;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  left: 12.5%;
}

.range-labels li::before {
  position: absolute;
      top: -16.5px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 7.5px;
  height: 7.5px;
  background: #ffffff;
  border-radius: 50%;

}


.range-labels .active {
  color: #37adbf;
}
*/


.range-labels .selected::before {
  background: #37adbf;
}
.range-labels .active.selected::before {
  display: none;
}




@media screen and (max-width: 600px){
  #slider-container-tasa-id{
    padding-top: 0px;
  }

  
  .calculadora-solicitante-cuota{

    font-size: 17.5px;
    
  }

  #calculadora-solicitar{
    font-size: 17.5px;
  }

  

  /*Inversionista*/
  .calculadora-inversionista-tir {
  
      line-height: unset !important;
    }
  .calculadora-comparaciones{
    padding-bottom: 6.34px;
    font-size: 17.5px;
  }
  .calculadora-comparaciones span {
        font-size: 17.5px;
    }

    #calculadora-invertir{
      font-size: 17.5px;
    }

    .comparaciones-banco {
        font-size: 9px;
    }
    .comparaciones-banco span {
      font-size: 9px !important;
    }
 

  @media screen and (min-width: 320px) and (max-width: 372px){

    .calculadora-solicitante-cuota{

      font-size: 14px;
    }

    #calculadora-solicitar {
      font-size: 13px;
    }

    

    

    .calculadora-comparaciones{
      font-size: 14px;
    }
    
    #calculadora-invertir{
      font-size: 13px;
    }

    .calculadora-comparaciones span {
        font-size: 14px;
    }

    .comparaciones-banco span {
      font-size: 7.5px !important;
    }

    .comparaciones-banco {
        font-size: 7.5px !important;
    }
    

}


@media screen and (max-width: 1200px) {
  #slider-container-tasa-id{


  }

  #tir-valor-inversionista{
  }
}



