section, aside, footer {
    margin: 0;
    padding: 16px;
    color: #ffffff;
}
* {
  box-sizing: border-box;
}

main{
  padding-left: 0;
  padding-right: 0;
}
ul {
  list-style: none;
}

nav a{
  color: #ffffff;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

ul li{
  margin-left: 10px;
  margin-right: 10px;
}


/*Carrusel*/
.crece-carrusel {
    background: #287191;
    padding: 0;
}

.crece-carrusel-imagenes-movil{
  display: none;
}

.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: #f6f6f6; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.slick-prev{ 
  left: 20px;
  z-index: 1100;
}
.slick-next{ 
  right: 20px;
  z-index: 1100;
}


/*Main Mensaje*/
.crece-main-mensaje {
    background: #fff;
    color: #006B8D;
    font-size: 23.84px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.crece-main-mensaje p{
  font-weight: 200;
  margin-bottom: 0px;

}



.crece-main-mensaje-imagenes{
  margin-top: 2em;
}

.crece-main-mensaje-imagenes img{
  width: 100%;
  height: auto;
}

/*SOlicitante inversionista*/
.crece-solicitante-inversionista {
    background: #1199AD;
    padding-top: 32px;

}

.crece-solicitar-invertir{
  font-weight: 700 !important;
  font-size: 29.51px !important;
}

.crece-solicitar-invertir{
  display: flex;
  margin-right: auto;
  margin-left: auto; 
  background-image: url("/static/assets/background_boton_solicitar_invertir.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 99% 77%;
}

.crece-solicitar-text div{
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 500;
}

.crece-solicitar-invertir button{
  padding: 10px 50px;
  color: #ffffff;
}


.crece-solicitar-invertir-elegido{
  background-color:   #3CACC4;
  color: #ffffff;
  border-radius: 30px;
  padding: 20px 160px !important;
}

.crece-invertir-contenido{
  display: none;
}

.crece-solicitar-invertir-contenido{
  margin-top: 20px;
}

.crece-solicitar-invertir-text{
    display: inline-block;
}



/* Seccion Oportunidades */

.crece-oportunidades-contenedor {
  background-color: white;
  width: 332px;
  height: 540px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  margin-top: 25px;
  margin-bottom: 25px;
}

.crece-oportunidades-titulo {
  color: #006B8D;
  font-size: 26.62px;
  font-weight: 700;
  margin-top: 10px;
}
.crece-oportunidades-imagen {
  width: 332px;
  height: 162px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
}

.crece-oportunidades-imagen-gradiente {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006B8D+0,063240+100&1+0,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,91,122,0.50) 0%, rgba(6,50,64,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,91,122,0.50) 0%,rgba(6,50,64,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,91,122,0.50) 0%,rgba(6,50,64,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006B8D', endColorstr='#00063240',GradientType=1 ); /* IE6-9 */
  width: 332px;
  height: 162px;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  align-items: center;
}

.crece-oportunidades-imagen-gradiente-texto span{
  display: block;
  font-size: 14px;
  padding: 0.5px 0px;
}

.crece-oportunidades-imagen-gradiente-texto{
  padding-left: 32px;
}

.crece-oportunidades-imagen-gradiente-texto strong{
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5px 0px;
}

.crece-oportunidades-contenido-monto {
  color: #006B8D;
  margin-top: 10px;
}

.crece-oportunidades-contenido-monto p{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 10px;
}

.crece-oportunidades-contenido-monto strong{
  font-size: 18px;
  font-weight: 600;
}

.crece-oportunidades-contenido-monto-texto {
  padding: 0px;
}

.crece-oportunidades-contenido-monto-barra{
  height: 3px;
  width: 95%;
  background-color: #DEDEDE;
  padding: 0px;
  margin: 0px;
  border-radius: 3px;
}

.crece-oportunidades-contenido-monto-barra-progreso{
  height: 100%;
  background-color: #006B8D;
  border-radius: 3px 0px 0px 3px;
}

.crece-oportunidades-contenido-informacion{
  color: #006B8D;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.crece-oportunidades-contenido-informacion p{
  font-weight: 300;
  line-height: 1.3;
}

.crece-oportunidades-contenido-informacion strong{
  font-weight: 600;
}

.crece-oportunidades-contenido-solicitante {
  color: #006B8D;
  margin-top: 33px;
}

.crece-oportunidades-contenido-solicitante strong{
  font: Bold 16px/29px Montserrat;
}

.crece-oportunidades-contenido-solicitante p{
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  width: 271px;
  height: 52px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  margin-bottom: 10px;
  opacity: 0.7;
}

.crece-oportunidades-contenido-historial{
  color: #006B8D;
  font-size: 14px;
  text-align: center;
}

.crece-oportunidades-contenido-historial p{
  font-weight: 300;
  line-height: 1.3;
}

.crece-oportunidades-contenido-historial strong{
  font-weight: 600;
}

.crece-oportunidades-contenido-historial-centro {
  padding: 0px;
}

.crece-oportunidades-contenido-botones{
  margin-top: 12px;
}

.crece-oportunidades-contenido-botones a{
  display: inline-block;
  width: 118px;
  height: 29px;
  text-align: center;
  font-size: 13.2px;
  font-weight: 700;
  border-radius: 2px;
  padding-top: 3px;
}

.crece-oportunidades-contenido-botones-blanco a{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: #006B8D;
}

.crece-oportunidades-contenido-botones-azul a{
  background: #006B8D 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: white;
}

.crece-oportunidades-mas a {
  background: #006B8D 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: white;

  display: inline-block;
  width: 192px;
  height: 38px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 5px;
}

.crece-oportunidades-mas a:hover,  
.crece-oportunidades-contenido-botones-azul a:hover{
  text-decoration: none;
  background: rgba(0, 107, 141, 0.8) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(0, 107, 141, 0.8);
}

.crece-oportunidades-contenido-botones-blanco a:hover{
  text-decoration: none;
  color:#1199AD;
  border: 1px solid #1199AD;
}

/*Reconocimientos*/
.crece-reconocimientos {
  background-image: url('../assets/fondo_reconocimientos2.png');
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  color: #ffffff

}

.crece-reconocimientos-vista {
  padding: 16px;
}

.crece-reconocimientos-vista-titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 25.91px !important;
  font-weight: 700 !important;
}

.reconocimiento-col2 div{
  box-sizing: unset;
}



/*Dispositivos mayores a 992px*/
@media screen and (min-width: 992px) {

  /*Main Mensaje*/
  .crece-main-mensaje img{
    margin: auto;
  }

  .crece-main-mensaje-imagenes-movil{
    display: none;
  }

  /*SOlicitante Inversionista*/
  .crece-solicitar-invertir button{
    padding: 10px 140px;
    font-size: 25px;
  }

  .crece-solicitar-contenido, .crece-invertir-contenido{
    margin: 1.5em 0em;
  }

  .crece-solicitar-contenido-infografia-izquierda{
    margin-top: auto;
    margin-bottom: auto;
  }

  .crece-solicitar-text{
    font-size: 20.7px;
    margin-bottom: 25px;
  }
  .crece-solicitar-text div{
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 500;
  }

  /*Reconocimientos*/
  .crece-reconocimientos-vista-mobile{
    display: none;
  }
  .crece-reconocimientos {
    height: 100%;
  }

  .reconocimiento-col2 div:not(:first-child){
    margin-left: 45.3px;
  }


  .reconocimiento-col1 div:nth-child(2), .reconocimiento-col2 div:nth-child(2){
    margin-top: 30px
  }

}

/*Dispositivos como tablets o menores de 992 y mayores a 600*/
@media screen and (max-width: 991px){

  /*main mensaje*/
  .crece-main-mensaje-imagenes-movil{
    display: none;
  }

  .crece-main-mensaje-imagenes img{
    width: 90%;
  }


  /*solicitante inversionista*/
  .crece-solicitante-inversionista {
    background: #1199AD;
    padding-top: 32px;

  }

  .crece-solicitar-invertir{
    font-weight: 700 !important;
    font-size: 29.51px !important;
  }

  .crece-solicitar-text{
    font-size: 18px;
    margin-bottom: 25px;
  }

  .crece-solicitar-invertir{
    display: flex;
    margin-right: auto;
    margin-left: auto; 
    background-image: url("/static/assets/background_boton_solicitar_invertir.png");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 77%;
  }



  .crece-solicitar-invertir button{
    padding: 10px 50px;
    color: #ffffff;
  }


  .crece-solicitar-invertir-elegido{
    background-color:   #3CACC4;
    color: #ffffff;
    border-radius: 30px;
    padding: 15px 65px !important;
  }

  .crece-invertir-contenido{
    display: none;
  }

  .crece-solicitar-invertir-contenido{
    margin-top: 20px;
  }

  .crece-solicitar-invertir-text{
      display: inline-block;
  }

  /*Reconocimientos*/
  .crece-reconocimientos-vista-mobile{
    display: none;
  }

  .crece-reconocimientos-vista img{
    height: 200px;
    margin: auto;
  }

  .reconocimiento-col1 div:nth-child(2), .reconocimiento-col2 div:nth-child(2){
    margin-top: 30px
  }

  .reconocimiento-col2 div:not(:first-child){
    margin-left: 28px;
  }
}


@media screen and (max-width: 600px) {

  /*Carrusel*/
  .crece-carrusel-imagenes {
    display:none;
  }

  .crece-carrusel-imagenes-movil {
    display:block;
  }
  .crece-carrusel-imagenes-movil img{
    display:block;
    width: 100%;
    height: auto;
  }


  /* main mensaje */
  .crece-main-mensaje-imagenes{
    display: none;
  }
  .crece-main-mensaje-imagenes-movil{
    margin: 10px 0px;
    display: block;
    width: 100%;
  }

  .crece-main-mensaje-imagenes-movil img{
    width: 80%;
    height: auto;
  }

  /*Solicitante inversionista*/
  .crece-solicitar-contenido, .crece-invertir-contenido{
    margin-left: 0;
    margin-top: 25px;
  }

  /*Reconocimientos*/
  .crece-reconocimientos-vista{
    display: none;
  }
  .crece-reconocimientos-vista-mobile{
    display: block;
  }
  .crece-reconocimientos img{
    height: 150px;
    margin: auto;
  }

  .crece-reconocimientos-vista-mobile div:not(:first-child){
    margin-top: 45px;
  }

}
