section, aside, footer {
    margin: 0;
    padding: 16px;
    color: #ffffff;
}
* {
  box-sizing: border-box;
}

main{
  padding-left: 0;
  padding-right: 0;
}
ul {
  list-style: none;
}

nav a{
  color: #ffffff;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

ul li{
  margin-left: 10px;
  margin-right: 10px;
}


/*Carrusel*/
.crece-carrusel {
    background: #287191;
    padding: 0;
}

.crece-carrusel-imagenes-movil{
  display: none;
}


/*Main Mensaje*/
.crece-main-mensaje {
    background: #fff;
    color: #005B7A;
    font-size: 23.84px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.crece-main-mensaje p{
  font-weight: 200;
  margin-bottom: 0px;

}



.crece-main-mensaje-imagenes{
  margin-top: 2em;
}

.crece-main-mensaje-imagenes img{
  width: 100%;
  height: auto;
}

/*SOlicitante inversionista*/
.crece-solicitante-inversionista {
    background: #1199AD;
    padding-top: 32px;

}

.crece-solicitar-invertir{
  font-weight: 700 !important;
  font-size: 29.51px !important;
}

.crece-solicitar-invertir{
  display: flex;
  margin-right: auto;
  margin-left: auto; 
  background-image: url("/static/assets/background_boton_solicitar_invertir.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 99% 77%;
}

.crece-solicitar-text div{
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 500;
}

.crece-solicitar-invertir button{
  padding: 10px 50px;
  color: #ffffff;
}


.crece-solicitar-invertir-elegido{
  background-color:   #3CACC4;
  color: #ffffff;
  border-radius: 30px;
  padding: 20px 160px !important;
}

.crece-invertir-contenido{
  display: none;
}

.crece-solicitar-invertir-contenido{
  margin-top: 20px;
}

.crece-solicitar-invertir-text{
    display: inline-block;
}



/*Operaciones*/
.crece-operaciones-mobile, .crece-operaciones {
    background: #005B7A;
    color: #ffffff;
}

.crece-operaciones-titulo{
  font-size: 26.62px;
  font-weight: 700;
  margin-bottom: 16px;
}

.crece-operaciones-ver-mas-boton{
  font-size: 26px;
  font-weight: 700;
  background-color: #FFD500;
  border-radius: 20px;
  padding: 0px 57px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.crece-operaciones-mobile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 134px;
  width: 100%;
}

.operacion-header {
  height: 134px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}



.operacion-autor{
  background: rgba(255, 255, 255, 0.87);
  color: #000000;
}

.operacion-autor p:nth-child(1){
  margin-bottom: -10px;
  font-size: 17.88px;
  padding: 0px 5px;
}

.operacion-autor p:nth-child(2){
  margin-bottom: 0;
  padding: 0px 5px;
  padding-top: 3px;
  font-size: 10.93px;
  font-weight: 700;
}


.operacion-detalle-grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

.operacion-detalle-grid>div{ 
  border-right: solid;
  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 15.8px;
  font-weight: 200;
  border-right-width: 0.25px;
  border-bottom-width: 0.25px;
}

.operacion-autor

.operacion-detalle-grid strong{ 
  font-size: 11.16px;
}

.operacion-detalle-grid div.row1-col3{
  border-right: none;
}

.operacion-detalle-grid div.row2-col1{
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: none;
}

.operacion-detalle-grid div.row2-col2{
  border-right: none;
  border-bottom: none;
}

.operacion-historia-titulo{
  background: #1199AD;
  font-size: 11.16px !important;
  padding: 10px 5px;
  border-bottom: none !important;
  border-right: none !important;
  text-align: left !important;
  grid-column-start: 1;
  grid-column-end: 4;
}

.operacion-historia-1, .operacion-historia-2{
  border-bottom: none !important;
}

.operacion-historia-3{
  border-bottom: none !important;
  border-right: none !important;
}



.operacion-historia-financiado{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8eb445+0,8eb445+50,2989d8+50,ffffff+51,ffffff+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #8eb445 0%, #8eb445 30%, #2989d8 30%, #ffffff 31%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #8eb445 0%,#8eb445 30%,#2989d8 30%,#ffffff 31%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #8eb445 0%,#8eb445 30%,#2989d8 30%,#ffffff 31%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb445', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  color: #000000;
  text-align: center;
}

.operacion-historia-enlace{
  background: #1199AD;
  text-align: center;
  padding: 9px;
}

.operacion-historia-enlace a{
  color: white;
  padding: 6px 45px;
  background-color: #005B7A;
  font-size: 13.2px;
  border-radius: 14px;
}

.operacion-header img {
  max-width: 100%;
  height:auto;
}


/*Reconocimientos*/
.crece-reconocimientos {
  background-image: url('../assets/fondo_reconocimientos2.png');
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  color: #ffffff

}

.crece-reconocimientos-vista {
  padding: 16px;
}

.crece-reconocimientos-vista-titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 25.91px !important;
  font-weight: 700 !important;
}

.reconocimiento-col2 div{
  box-sizing: unset;
}



/*Dispositivos mayores a 992px*/
@media screen and (min-width: 992px) {

  /*Main Mensaje*/
  .crece-main-mensaje img{
    margin: auto;
  }

  .crece-main-mensaje-imagenes-movil{
    display: none;
  }

  /*SOlicitante Inversionista*/
  .crece-solicitar-invertir button{
    padding: 10px 140px;
    font-size: 25px;
  }

  .crece-solicitar-contenido, .crece-invertir-contenido{
    margin: 1.5em 0em;
  }

  .crece-solicitar-contenido-infografia-izquierda{
    margin-top: auto;
    margin-bottom: auto;
  }

  .crece-solicitar-text{
    font-size: 20.7px;
    margin-bottom: 25px;
  }
  .crece-solicitar-text div{
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 500;
  }


  /*Operaciones*/
  .crece-operaciones-mobile{
    display: none;
  }

  

  .crece-operaciones-col:nth-child(1){
    margin-left: auto;
  }

  .crece-operaciones-col:nth-child(3){
    margin-right: auto;
  }


  /*Reconocimientos*/
  .crece-reconocimientos-vista-mobile{
    display: none;
  }
  .crece-reconocimientos {
    height: 100%;
  }

  .reconocimiento-col2 div:not(:first-child){
    margin-left: 45.3px;
  }


  .reconocimiento-col1 div:nth-child(2), .reconocimiento-col2 div:nth-child(2){
    margin-top: 30px
  }

}

@media screen and (max-width: 1118px) {
  .crece-operaciones{
    display: none;
  }

  .crece-operaciones-mobile{
    display: block;
  }

  .ccrece-operaciones-vista-mobile .crece-operaciones-col{
    margin: 10px;
  }

}

/*Dispositivos como tablets o menores de 992 y mayores a 600*/
@media screen and (max-width: 991px){
  
  /*Header*/
  .crece-header-nav{
    display: none;
  }

  .crece-header-contenido.mobile div.crece-header-nav{
    display: block;
    margin: 0;
  }
  .crece-menu-toogle{
    display: block;
  }

  .crece-header-nav ul{
    display: block;
  }

  /*main mensaje*/
  .crece-main-mensaje-imagenes-movil{
    display: none;
  }

  .crece-main-mensaje-imagenes img{
    width: 90%;
  }


  /*solicitante inversionista*/
  .crece-solicitante-inversionista {
    background: #1199AD;
    padding-top: 32px;

  }

  .crece-solicitar-invertir{
    font-weight: 700 !important;
    font-size: 29.51px !important;
  }

  .crece-solicitar-text{
    font-size: 18px;
    margin-bottom: 25px;
  }

  .crece-solicitar-invertir{
    display: flex;
    margin-right: auto;
    margin-left: auto; 
    background-image: url("/static/assets/background_boton_solicitar_invertir.png");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 77%;
  }



  .crece-solicitar-invertir button{
    padding: 10px 50px;
    color: #ffffff;
  }


  .crece-solicitar-invertir-elegido{
    background-color:   #3CACC4;
    color: #ffffff;
    border-radius: 30px;
    padding: 15px 65px !important;
  }

  .crece-invertir-contenido{
    display: none;
  }

  .crece-solicitar-invertir-contenido{
    margin-top: 20px;
  }

  .crece-solicitar-invertir-text{
      display: inline-block;
  }

  /*Operaciones*/
  .crece-operaciones-mobile{
    display: none;
  }

  .operacion-header img {
    max-width: 100%;
    height:auto;
  }

  .crece-operaciones{
    display: none;
  }

  .crece-operaciones-mobile{
    display: block;
  }

  .crece-operaciones-col:nth-child(1){
    margin-left: auto;
  }

  .crece-operaciones-col:nth-child(3){
    margin-right: auto;
  }


  /*Reconocimientos*/
  .crece-reconocimientos-vista-mobile{
    display: none;
  }

  .crece-reconocimientos-vista img{
    height: 200px;
    margin: auto;
  }

  .reconocimiento-col1 div:nth-child(2), .reconocimiento-col2 div:nth-child(2){
    margin-top: 30px
  }

  .reconocimiento-col2 div:not(:first-child){
    margin-left: 28px;
  }

  /*fOOTER*/

  .crece-footer-redes-lista img#crece-facebook {
    width: 14px;
  }

  .crece-footer-redes-lista img:first-child {
    width: 25px;
  }




  /*Footer*/
  .crece-footer-contenido-mobile{
    display: none;
  }
}



/*Para dispositivos moviles*/
@media screen and (max-width: 600px) {
  .crece-header-logo-imagen img{
    height: 30px;
  }

  .crece-header-nav{
    display: none;
  }





}


@media screen and (max-width: 600px) {
  /*Header*/
  .crece-menu-toogle{
    display: block;
  }

  .crece-header-contenido.mobile div.crece-header-nav{
    display: block;
    margin: 0;
  }

  /*Carrusel*/
  .crece-carrusel-imagenes {
    display:none;
  }

  .crece-carrusel-imagenes-movil {
    display:block;
  }
  .crece-carrusel-imagenes-movil img{
    display:block;
    width: 100%;
    height: auto;
  }


  /* main mensaje */
  .crece-main-mensaje-imagenes{
    display: none;
  }
  .crece-main-mensaje-imagenes-movil{
    margin: 10px 0px;
    display: block;
    width: 100%;
  }

  .crece-main-mensaje-imagenes-movil img{
    width: 80%;
    height: auto;
  }

  /*Solicitante inversionista*/
  .crece-solicitar-contenido, .crece-invertir-contenido{
    margin-left: 0;
    margin-top: 25px;
  }
  /*Operaciones*/
  .crece-operaciones{
    display: none;
  }
  .crece-operaciones-mobile{
    display: block;
  }

  .ccrece-operaciones-vista-mobile .crece-operaciones-col{
    margin: 10px;
  }
  

  /*Reconocimientos*/
  .crece-reconocimientos-vista{
    display: none;
  }
  .crece-reconocimientos-vista-mobile{
    display: block;
  }
  .crece-reconocimientos img{
    height: 150px;
    margin: auto;
  }

  .crece-reconocimientos-vista-mobile div:not(:first-child){
    margin-top: 45px;
  }

  /*FOOTER*/
  .crece-footer-contenido-mobile{
    display: block;
  }

  .crece-footer-redes-lista img:first-child{
    width: 25px;
  }
  .crece-footer-redes-lista img#crece-facebook{
    width: 14px;
  }

  .crece-footer-about p{
    font-size: 10px;
  }

  .crece-footer-contenido{
    display: none;
  }

  .crece-footer-contenido-mobile{
    margin-top: 25px;
  }

    

}























