* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}













.crece-header-contenido-mobile{display: none;}
.crece-header {
  top: 0;
  left: 0;
  background: #287191;
}

.crece-header-nav{
  margin: auto;
}

.crece-header-nav nav ul div{
  margin-left: 15px;
}