:root{

  --calculadora-solicitar-bg-color:#08A7BA;
  --calculadora-invertir-bg-color:#006B8D;
  --section-calculadoras-bg-color:#08A7BA;
  --btn-sol-inv-bg-color:#AECB6F;
  --fuente-font-family: Montserrat;

}
/*#1199AD*/

section, aside, footer {
    margin: 0;
    padding: 16px;
    color: #ffffff;
    
}
* {
  box-sizing: border-box;
}

main{
  padding-left: 0;
  padding-right: 0;
}
ul {
  list-style: none;
}

nav a{
  color: #ffffff;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

ul li{
  margin-left: 10px;
  margin-right: 10px;
}


/*Carrusel*/
.crece-carrusel {
    background: #287191;
    padding: 0;
    position: relative;
}

.crece-carrusel-imagenes-movil{
  display: none;
  position: relative;
}

.slick-prev:before, .slick-next:before { font-family: FontAwesome; font-size: 40px; line-height: 1; color: #f6f6f6; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.slick-prev,
.slick-next {
  z-index: 1100;
  width: 29px;
  height: 41px;
}

.slick-prev{ 
  left: 20px;
}
.slick-next{ 
  right: 20px;
}

#ingresar-boton-imagen-0{
      font-size: 2vw;

    position: absolute;
    top: 72%;
    left: 47%;
      transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.crece-carrusel-boton-ingresar-imagen a{

    background-color: #08a7ba;
    color: white !important;
    text-align: center;
    font-weight: 700;
    padding: 10px 20px;
    /*font-size: 40px;*/
}

/*Main Mensaje*/
.crece-main-mensaje {
    background: #fff;
    color: #006B8D;
    font-size: 23.84px;
    padding: 0px 0px;
    margin: 0px;
}

.crece-main-mensaje p{
  font-weight: 200;
  margin-bottom: 0px;

}



.crece-main-mensaje-imagenes{
  margin-top: 2em;
}

.crece-main-mensaje-imagenes img{
  width: 100%;
  height: auto;
}

/*SOlicitante inversionista*/
.crece-solicitante-inversionista {
    background: var(--calculadora-invertir-bg-color);
    padding-top: 32px;
    font-family: var(--fuente-font-family);

}

.crece-solicitar-invertir{
  font-weight: 700 !important;
  font-size: 29.51px !important;
  font-family: Montserrat;
}

.crece-solicitar-invertir{
  display: flex;
  margin-right: auto;
  margin-left: auto; 
  background-image: url("/static/assets/background_boton_solicitar_invertir.png");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 99% 77%;
}

.crece-solicitar-text div{
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 500;
  font-size:21px;
}

.crece-solicitar-invertir button{
  padding: 10px 50px;
  color: var(--btn-sol-inv-bg-color);
  font-family: var(--fuente-font-family);
  font-size: 30px;
}

.crece-solicitar-invertir button:hover{
  color: var(--btn-sol-inv-bg-color);
}


.crece-solicitar-invertir-elegido{
  background-color:   var(--btn-sol-inv-bg-color);
  color: #ffffff !important;
  border-radius: 30px;
  padding: 20px 160px !important;
}

.crece-invertir-contenido{
  display: none;
}

.crece-solicitar-invertir-contenido{
  margin-top: 20px;
}

.crece-solicitar-invertir-text{
    display: inline-block;
}



/* Seccion Oportunidades */

.crece-oportunidades{
  background-color: #e9ebee;
}

.crece-oportunidades-contenedor {
  background-color: white;
  width: 332px;
  height: 540px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  margin-top: 25px;
  margin-bottom: 25px;
}

.crece-oportunidades-titulo {
  color: #006B8D;
  font-size: 26.62px;
  font-weight: 700;
  margin-top: 10px;
}
.crece-oportunidades-imagen {
  width: 332px;
  height: 162px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
}

.crece-oportunidades-imagen-gradiente {
  background-color: rgba(0,91,122,0.5);
  width: 332px;
  height: 162px;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  align-items: center;
}

.crece-oportunidades-imagen-gradiente-texto span{
  display: block;
  font-size: 14px;
  padding: 0.5px 0px;
}

.crece-oportunidades-imagen-gradiente-texto{
  padding-left: 32px;
}

.crece-oportunidades-imagen-gradiente-texto strong{
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5px 0px;
}

.crece-oportunidades-contenido-monto {
  color: #006B8D;
  margin-top: 10px;
}

.crece-oportunidades-contenido-monto p{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 10px;
}

.crece-oportunidades-contenido-monto strong{
  font-size: 18px;
  font-weight: 600;
}

.crece-oportunidades-contenido-monto-texto {
  padding: 0px;
}

.crece-oportunidades-contenido-monto-barra{
  height: 3px;
  width: 95%;
  background-color: #DEDEDE;
  padding: 0px;
  margin: 0px;
  border-radius: 3px;
}

.crece-oportunidades-contenido-monto-barra-progreso{
  height: 100%;
  background-color: #006B8D;
  border-radius: 3px 0px 0px 3px;
}

.crece-oportunidades-contenido-informacion{
  color: #006B8D;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.crece-oportunidades-contenido-informacion p{
  font-weight: 300;
  line-height: 1.3;
}

.crece-oportunidades-contenido-informacion strong{
  font-weight: 600;
}

.crece-oportunidades-contenido-solicitante {
  color: #006B8D;
  margin-top: 33px;
}

.crece-oportunidades-contenido-solicitante strong{
  font: Bold 16px/29px Montserrat;
}

.crece-oportunidades-contenido-solicitante p{
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  width: 271px;
  height: 52px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  margin-bottom: 10px;
  opacity: 0.7;
}

.crece-oportunidades-contenido-historial{
  color: #006B8D;
  font-size: 14px;
  text-align: center;
}

.crece-oportunidades-contenido-historial p{
  font-weight: 300;
  line-height: 1.3;
}

.crece-oportunidades-contenido-historial strong{
  font-weight: 600;
}

.crece-oportunidades-contenido-historial-centro {
  padding: 0px;
}

.crece-oportunidades-contenido-botones{
  margin-top: 12px;
}

.crece-oportunidades-contenido-botones a{
  display: inline-block;
  width: 118px;
  height: 29px;
  text-align: center;
  font-size: 13.2px;
  font-weight: 700;
  border-radius: 2px;
  padding-top: 3px;
}

.crece-oportunidades-contenido-botones button{
  display: inline-block;
  width: 118px;
  height: 29px;
  text-align: center;
  font-size: 13.2px;
  font-weight: 700;
  border-radius: 2px;
  padding-top: 3px;
}

.crece-oportunidades-contenido-botones-blanco button{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: #006B8D;
}

.crece-oportunidades-contenido-botones-azul a{
  background: #006B8D 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: white;
}

.crece-oportunidades-mas a {
  background: #006B8D 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: white;

  display: inline-block;
  width: 192px;
  height: 38px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 5px;
}

.crece-oportunidades-mas a:hover,  
.crece-oportunidades-contenido-botones-azul a:hover{
  text-decoration: none;
  background: rgba(0, 107, 141, 0.8) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(0, 107, 141, 0.8);
}

.crece-oportunidades-contenido-botones-blanco button:hover{
  text-decoration: none;
  color:#1199AD;
  border: 1px solid #1199AD;
}

/*Reconocimientos*/
.crece-reconocimientos {
  background-color: #08A7BA;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  color: #ffffff

}

.crece-reconocimientos-vista {
  padding: 16px;
}

.crece-reconocimientos-vista-titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 25.91px !important;
  font-weight: 700 !important;
}

.reconocimiento-col2 div{
  box-sizing: unset;
}

.crece-reconocimientos-vista h2{
  padding-bottom: 15px;
}

.crece-reconocimientos-vista-mobile h2{
  padding: 15px 15px 0px 0px;
}


/*Dispositivos mayores a 992px*/
@media screen and (min-width: 992px) {

  @media screen and (max-width: 1333px) and (min-width: 1200px) {
    .crece-solicitante-inversionista {
    min-height: 655px !important;
  }
        
  }
  /*Main Mensaje*/
  .crece-main-mensaje img{
    margin: auto;
  }

  .crece-main-mensaje-imagenes-movil{
    display: none;
  }

  /*SOlicitante Inversionista*/
  .crece-solicitante-inversionista {
    padding-top: 32px;
    padding-bottom: 0px;

  }

  .crece-solicitar-invertir button{
    padding: 10px 140px;
  }

  .crece-solicitar-contenido, .crece-invertir-contenido{
    margin: 1.5em 0em;
  }

  .crece-solicitar-contenido-infografia-izquierda{
    margin-top: auto;
    margin-bottom: auto;
  }

  .crece-solicitar-text{

    margin-bottom: 25px;
  }
  .crece-solicitar-text div{
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 500;
  }

  /*Reconocimientos*/
  .crece-reconocimientos-vista-mobile{
    display: none;
  }
  .crece-reconocimientos {
    height: 100%;
  }

  .reconocimiento-col2 div:not(:first-child){
    margin-left: 45.3px;
  }


  .reconocimiento-col1 div:nth-child(2), .reconocimiento-col2 div:nth-child(2){
    margin-top: 30px
  }

}

/*Dispositivos como tablets o menores de 992 y mayores a 600*/

@media screen and (max-width: 991px){

  /*Carrusel*/
  .crece-carrusel-boton-ingresar-imagen a{

         padding: 1.159vw 2.218vw;

        font-size: 17px;
    }


    #ingresar-boton-imagen-0{

        top: 71%;
    left: 48%;
   

    }

  /*main mensaje*/
  .crece-main-mensaje-imagenes-movil{
    display: none;
  }

  .crece-main-mensaje-imagenes img{
    width: 90%;
  }


  /*solicitante inversionista*/
  .crece-solicitante-inversionista {
    padding-top: 32px;
    min-height: 859.781px;
  }

  .crece-solicitar-invertir{
    font-weight: 700 !important;
    font-size: 29.51px !important;
  }

  .crece-solicitar-text{
    font-size: 18px;
    margin-bottom: 25px;
  }

  .crece-solicitar-invertir{
    display: flex;
    margin-right: auto;
    margin-left: auto; 
    background-image: url("/static/assets/background_boton_solicitar_invertir.png");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 77%;
  }



  .crece-solicitar-invertir button{
    padding: 10px 50px;
  }


  .crece-solicitar-invertir-elegido{
    border-radius: 30px;
    padding: 15px 65px !important;
  }

  .crece-invertir-contenido{
    display: none;
  }

  .crece-solicitar-invertir-contenido{
    margin-top: 20px;
  }

  .crece-solicitar-invertir-text{
      display: inline-block;
  }

  /*Reconocimientos*/
  .crece-reconocimientos-vista-mobile{
    display: none;
  }

  .crece-reconocimientos-vista img{
    height: 200px;
    margin: auto;
  }

  .reconocimiento-col1 div:nth-child(2), .reconocimiento-col2 div:nth-child(2){
    margin-top: 30px
  }

  .reconocimiento-col2 div:not(:first-child){
    margin-left: 28px;
  }
}


@media screen and (max-width: 600px) {

  /*Carrusel*/
  .crece-carrusel-imagenes {
    display:none;
  }

  .crece-carrusel-imagenes-movil {
    display:block;
    overflow-x: hidden;
  }
  .crece-carrusel-imagenes-movil img{
    display:block;
    width: 100%;
    height: auto;
  }

  .crece-carrusel-boton-ingresar-imagen a{
      padding: 9px 18px;
      font-size: 12px;
  } 


  /* main mensaje */
  .crece-main-mensaje-imagenes{
    display: none;
  }
  .crece-main-mensaje-imagenes-movil{
    margin: 10px 0px;
    display: block;
    width: 100%;
  }

  .crece-main-mensaje-imagenes-movil img{
    width: 80%;
    height: auto;
  }

  /*Solicitante inversionista*/

  .crece-solicitante-inversionista {
    padding-top: 32px;
    max-height: none;

  }

  .crece-solicitar-invertir button{
  padding: 10px 50px;
  color: var(--btn-sol-inv-bg-color);
  font-family: var(--fuente-font-family);
  font-size: 16px;
}

  .crece-solicitar-contenido, .crece-invertir-contenido{
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
  }

  /*Reconocimientos*/
  .crece-reconocimientos-vista{
    display: none;
  }
  .crece-reconocimientos-vista-mobile{
    display: block;
  }

  .crece-reconocimientos img{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
  }

  .crece-reconocimientos-vista-mobile div:not(:first-child){
    margin-top: 45px;
    padding-bottom: 27px;
  }

}




@media screen and (max-width: 601px) and (min-width: 300px){

  .crece-carrusel-boton-ingresar-imagen a{
      
      font-size: 9px;
  }


  #ingresar-boton-imagen-0{

    
      left: 58%;
    top: 73%;
 

  }

}



/*




        SECCION MODAL DETALLE SOLICITUD





*/


.crece-detalle-operaciones {
  padding: 0px;
}

.fondo-gris{
  background-color: #e9ebee;
}

.fondo-blanco{
  background-color: white;
}

/* header detalle */

.crece-detalle-operaciones-header {
  height: 240px;
  width: calc(100% + 30px); /*compensa -15px de margin */
  overflow-x: hidden;
  text-align:center;
  position:relative;
  margin: 0px -15px;
}

.crece-detalle-operaciones-header-gradiente {
  height: 240px;
  width: calc(100% + 30px); /*compensa -15px de margin */
  overflow-x: hidden;
  margin: 0px -15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006B8D+0,063240+100&1+0,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,91,122,0.50) 0%, rgba(6,50,64,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,91,122,0.50) 0%,rgba(6,50,64,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,91,122,0.50) 0%,rgba(6,50,64,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006B8D', endColorstr='#00063240',GradientType=1 ); /* IE6-9 */
  text-align: center;
  position:relative;
  position:absolute;
  z-index:9999;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.crece-detalle-operaciones-header-gradiente-imagen{
  height: 240px;

}

.crece-detalle-operaciones-header-imagen{
  overflow-x: hidden;
  padding: 0px;
}

.crece-detalle-operaciones-header-imagen-blur{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position:absolute;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%; /*compensa -15px de margin */
  overflow-x: hidden;
  height: 240px;
  transform: scale(1.03);
}

.crece-detalle-operaciones-header-gradiente-imagen-autor{
  margin-top: 36px;
  height: 165px;
  width: 165px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.72);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.crece-detalle-operaciones-header-gradiente h1{
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  padding: 0px 10px;
  margin-top: 71.5px;
}
.crece-detalle-operaciones-header-gradiente h2{
  display: inline-block;
  font-size: 35px;
  font-weight: 500;
  justify-content: left;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  padding: 0px 10px;
}

/* Contenido */

.crece-detalle-operaciones-contenido {
  width: 100%;
  margin: 25px 0px;
}

/*Barra Progreso */
.crece-operaciones-contenido-monto-barra{
  height: 6px;
  width: 90%;
  background-color: #DEDEDE;
  padding: 0px;
  margin: 0px;
  border-radius: 3px;
}

.crece-operaciones-contenido-monto-barra-progreso{
  height: 100%;
  background-color: #006B8D;
  border-radius: 6px 0px 0px 6px;
}

/* Barra progreso Datos */

.crece-operaciones-contenido-datos-barra {
    margin: 20px 0px;
    color: #006B8D;
}

.crece-operaciones-contenido-datos-barra strong{
  display: block;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.1em;
}

.crece-operaciones-contenido-datos-barra span{
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.crece-operaciones-contenido-datos-barra-objetivo{
  text-align: right;
}

/* Informacion prestamo */
.crece-operaciones-contenido-informacion{
  color: #006B8D;
  padding: 0px;
}

.crece-operaciones-contenido-informacion .row{
  padding: 0px 27px;
}

.crece-operaciones-contenido-informacion-subrayado{
  border-bottom: 1px solid #DEDEDE
}

.crece-operaciones-contenido-informacion div.col-6,
.crece-operaciones-contenido-informacion div.col-3{
  padding: 12px 0px;
}

.crece-operaciones-contenido-informacion div.col-auto{
  padding: 12px 0px;
  border-bottom: 1px solid #DEDEDE
}

.crece-operaciones-contenido-informacion h2{
  font-size: 22px;
  font-weight: 700;
}

.crece-operaciones-contenido-informacion strong{
  font-size: 16px;
  font-weight: 600;
}

.crece-operaciones-contenido-informacion span{
  display: block;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

/*historia*/

.crece-operaciones-contenido-historia{
  color: #006B8D;
  padding: 0px;
  margin-top: 15px;
}

.crece-operaciones-contenido-historia .row{
  padding: 12px 15px;
}

.crece-operaciones-contenido-historia h2{
  font-size: 22px;
  font-weight: 700;
}

.crece-operaciones-contenido-historia p{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0px;
  text-align: justify;
}


/* Invierte */

.crece-detalle-operaciones-invierte{
  color: #006B8D;
  border: 1px solid #DEDEDE;
  margin: 25px 0px;
}

.crece-detalle-operaciones-invierte > div{
  padding: 25px 15px;
}

.crece-detalle-operaciones-invierte h3{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.crece-detalle-operaciones-invierte p{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 8px;
}

.crece-detalle-operaciones-invierte-monto div{
  border-bottom: 1px solid #DEDEDE;
}

.crece-detalle-operaciones-invierte-monto div:focus{
  border-bottom: 1px solid #006B8D;
}

.crece-detalle-operaciones-invierte-monto input{
  width: 90%;
  border: 0px;
  color: #006B8D;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  line-height: 1.1em;
  padding-left: 3px;
}

.crece-detalle-operaciones-invierte-monto label{
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1em;
}

.crece-detalle-operaciones-invierte-botones a{
  display: inline-block;
  width: 160px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  border-radius: 30px;
}

.crece-detalle-operaciones-invierte-botones{
  padding-top: 0px;
}
.crece-detalle-operaciones-invierte-botones > div {
    padding-top: 10px;
}

.crece-detalle-operaciones-invierte-botones-blanco a{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: #006B8D;
  font-size: 15px;
  padding-top: 7px;
}

.crece-detalle-operaciones-invierte-botones-azul a{
  background: #006B8D 0% 0% no-repeat padding-box;
  border: 1px solid #006B8D;
  color: white;
  font-size: 18px;
  padding-top: 5px;
}

.crece-detalle-operaciones-invierte-botones-azul a:hover{
  text-decoration: none;
  background: rgba(0, 107, 141, 0.8) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(0, 107, 141, 0.8);
}

.crece-detalle-operaciones-invierte-botones-blanco a:hover{
  text-decoration: none;
  color:#1199AD;
  border: 1px solid #1199AD;
}

/* Historial*/

.crece-detalle-operaciones-historial{
  color: #006B8D;
  border: 1px solid #DEDEDE;
  margin: 0px 0px 25px 0px;
}

.crece-detalle-operaciones-historial-calificacion {
  margin: 10px 0px 13px 0px;
}

.crece-detalle-operaciones-historial h3{
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

.crece-detalle-operaciones-historial h5{
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.crece-detalle-operaciones-historial-datos{
  padding: 10px;
}

.crece-detalle-operaciones-historial-datos div{
  padding: 0px;
}
  
.crece-detalle-operaciones-historial-datos h4{
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  padding-left: 30px;
}

.crece-detalle-operaciones-historial-datos h5{
  font-size: 12px;
  font-weight: 200;
  text-align: right;
  padding-right: 30px;
}

.crece-detalle-operaciones-historial-datos .row{
  padding-top: 14px;
}

@media screen and (max-width: 600px) {
  .crece-detalle-operaciones-header-gradiente-imagen-autor{
      margin-top: 59px;
      height: 120px;
      width: 120px;
      overflow: hidden;
      border-radius: 50%;
      border: 3px solid rgba(255,255,255,0.72);
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
  }
  
  .crece-detalle-operaciones-header-gradiente h1{
      display: inline-block;
      font-size: 30px;
      font-weight: 600;
      justify-content: center;
      /* align horizontal */
      align-items: center;
      /* align vertical */
      padding: 0px 10px;
      margin-top: 81.5px;
  }
  .crece-detalle-operaciones-header-gradiente h2{
      display: inline-block;
      font-size: 25px;
      font-weight: 500;
      justify-content: left;
      /* align horizontal */
      align-items: center;
      /* align vertical */
      padding: 0px 10px;
  }

  .crece-detalle-operaciones-header-gradiente-imagen {
      padding-left: 5%;
  }

  .crece-operaciones-contenido-informacion-subrayado{
      border-bottom: 0px;
  }
}


/* Modal */

.crece-modal{
  display: none;
  padding: 0px;

  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;

  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999999;

  background-color: rgba(0,0,0,0.85);
  /*   Estas propiedades se agregan en el js cuando el
        vh es mayor que el modal

  justify-content: center;
  align-items: center;
  */
}

.crece-modal-container{
}

.crece-detalle-operaciones-header-gradiente-imagen,
.crece-detalle-operaciones-header-gradiente{
  margin: 0px;

}

.crece-detalle-operaciones-header{
  position: relative;
}

.crece-detalle-operaciones-header svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

.crece-detalle-operaciones-header-gradiente-cerrar:hover, 
.crece-detalle-operaciones-header-gradiente-cerrar *:hover{
  cursor: pointer;
  fill: rgba(255,255,255,0.8);

}