.crece-modal {
    display: none;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    background-color: rgba(0,0,0,0.85);
}

.crece-modal-container {
    padding: 40px;
}

.crece-modal-container svg{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 9999999;
}

.crece-modal-container-cerrar:hover,
.crece-modal-container-cerrar *:hover{
    cursor: pointer;
    fill: rgba(255,255,255,0.8);
}

#aceptar-inversion-modal-dashboard {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

#completar_datos_wrapper{
    display: none;
}

#crece-declaracion-body-id{
    display: none;
}

#subir_transferencia_wrapper{
    display: none;
}

#final_inversion_wrapper{
    display: none;
}

.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-uno:hover,
.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-uno span:hover
{
    cursor: pointer;
    color: rgba(0, 108, 141, 0.705);;
}

.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-dos:hover,
.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-dos span:hover
{
    cursor: pointer;
    color: rgba(0, 108, 141, 0.705);;
}

.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-tres:hover,
.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-tres span:hover
{
    cursor: pointer;
    color: rgba(0, 108, 141, 0.705);;
}

.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-cuatro:hover,
.crece-flujo-inversionista-paso-completado.crece-flujo-inversionista-paso-cuatro span:hover
{
    cursor: pointer;
    color: rgba(0, 108, 141, 0.705);;
}

.error {
    color: #e03e46;;
}

.error-container{
    display: none;
    padding: 0px 0px 15px 0px;
}


#crece-modal-pregunta-prefencia-1-id{
    display: none;
}
#crece-modal-pregunta-prefencia-2-id{
    display: none;
}
#crece-modal-pregunta-prefencia-3-id{
    display: none;
}
#crece-modal-pregunta-prefencia-4-id{
    display: none;
}

.crece-pregunta-preferencia-preguntas-container{
    color: #08A7BA;
    text-align: center;
}

.crece-preguntas-preferencia-preguntas{
    font-size: 23px;
}


.crece-preferencia-respuestas-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.grid-item {
    color: #08A7BA;
  background-color: white;
  border: 2px solid grey;
  padding: 20px;
  text-align: center;
}

.grid-item:hover{
    background-color: #08A7BA;
    cursor: pointer;
    color: white;
}

div.grid-item.active{
    background-color: #08A7BA;
    color: white;
}


.grid-onlyitem-3 {
    color: #08A7BA;
  background-color: white;
  border: 2px solid grey;
  padding: 20px;
  text-align: center;
}

.grid-onlyitem-3:hover{
    background-color: #08A7BA;
    cursor: pointer;
    color: white;
}

div.grid-onlyitem-3.active{
    background-color: #08A7BA;
    color: white;
}


.grid-onlyitem-4 {
    color: #08A7BA;
  background-color: white;
  border: 2px solid grey;
  padding: 20px;
  text-align: center;
}

.grid-onlyitem-4:hover{
    background-color: #08A7BA;
    cursor: pointer;
    color: white;
}

div.grid-onlyitem-4.active{
    background-color: #08A7BA;
    color: white;
}