main{
	background-color: #E9EBEE;
}

* {
  box-sizing: border-box;
}

footer{
    display: none;
}

#label_mensaje_new_pass{
      color: #AECB6F;
    font-weight: bold;
    font-size: 15px;
}

#crece-header{
    display: none;
}

#main-id{
    height: 100vh
}

.crece-registro-footer{
        color: white;
    background-color: #006B8D;
    display: block;

    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.crece-footer-redes-lista li {
    display: inline-block;
}
.crece-footer-redes-lista img {
    height: 25px !important;
}

.crece-footer-redes-lista img#crece-twitter {
    height: 23px !important;
}

.crece-login-container-form-wrapper{
    
}

.crece-login-container-form-wrapper-titulo h2{
    font-size: 26px;
    color: #006B8D;
    font-weight: 700;
    text-align: center;
    padding: 30px 0px;
    margin: 0px;
}

.crece-login-container{
    background-color: white;
    border: 1px solid #DEDEDE;
    margin: 100px 0px;
}

.crece-login-container-form-wrapper input{
    width: 100%;
    margin-bottom: 17px;
    font-size: 14px;
    padding: 8px 5px;
    position: relative;
}

#crece-show-hide-password   {
    position: absolute;
    right: 30px;
    top: 13px;
    color: #006B8D;
    font-weight: bold;
    font-size: 10px;

}

#crece-show-hide-password:hover   {
    cursor: pointer;

}




.crece-login-container-logo img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 1rem;

}

button.disabled{
  opacity: 0.8;
}

.crece-login-container-form-wrapper-texto p{
    color: #006B8D;
    text-align: center;
    padding: 20px 0px;
}

.crece-login-container-form-wrapper-texto p > a {
    color: #006B8D;
    text-decoration-line: underline;
}

button{
    margin-right: auto;
	margin-left: auto;
	display: block;
    width: 160px;
    height: 40px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
    font-size: 18px;

    margin-top: 3px;
}

.crece-login-container-form-wrapper-error{
    display: none;
}

.crece-login-container-form-wrapper-error label{
    color: #e03e46;
    font-size: 12px;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;    
    border-radius: 3px;
}

label.required::after {
    content: "*";
}


/*Tipos de ingresos como Facebook*/
.tipos-ingresos{
	margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
}


.tipos-ingresos img:first-child{
	margin-right: 23.24px;
}

.tipos-ingresos img:last-child{
	margin-left: 23.24px;
}




#label_error a{
    text-decoration: underline;
    color: #e03e46;
    cursor: pointer;
}


#crece-reset-password-envio-email-timeline{
    display: none;  
}
/****NUEVO TIMELINE***/



/****NUEVO TIMELINE***/
#crece-reenviar-confirmacion-email-super-container{
    display: none;
}


/*- Screen Sizes*/
/*import fonts*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");
/*media queries*/




.wrapper {

  padding: 1em 5em 1em;
  max-width: 1000px;
}



/* - &:nth-child(1) {
             grid-area: entry1;
         }
   - useful timesaver if there is a lengthy list
*/
.timeline {
  line-height: 1.5em;
  font-size: 14px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: relative;
  counter-reset: section;
}
.timeline:before {
  content: "";
  width: 10px;
  height: 9.2em;
  background: #006B8D;
  position: absolute;
  top: 0;
  left: -3.313em;
  border-radius: 40px 40px;
}

.timeline--entry {
  position: relative;
  background-color: #eeeeee;
}
.timeline--entry__title {
  color: white;
  background-color: #006B8D;
  font-weight: bold;
  font-size: 1rem;
  padding: 1em;
}
.timeline--entry__title:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -1em;
  border-right: 10px solid #006B8D;
}
.timeline--entry__detail {
  background-color: white;
  padding: 1em;
  margin: 0;
}
.timeline--entry:before {
    color: #006B8D;
  content: "";
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 3em;
  height: 3em;
  background-color: white;
  border: .2em solid #006B8D;
  border-radius: 50%;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  text-shadow: 0 1px 0 #424242;
  left: -4.5em;
}

@supports (display: grid) {
  @media (min-width: 768px) {
    .timeline {
      display: grid;
      grid-gap: 4.75em;
      grid-template-areas: ". entry1" ". entry2";
    }
    .timeline:before {
        left: 2.2em;
        height: 14.2em;
    }

    .timeline--entry:nth-child(1) {
      grid-area: entry1;
    }
    .timeline--entry:nth-child(2) {
      grid-area: entry2;
    }

   

    .timeline--entry:nth-of-type(odd):before {
      left: -3.8em;
    }
/*    .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
      left: 100%;
      border-left: 10px solid #ec407a;
      border-right: 0;
    }*/
    .timeline--entry:nth-of-type(even):before {
      left: -3.8em;
    }
  }
}




#check-timelime-email-id{
        

    position: relative;
    right: 90px;
    font-size: 25px;
    top: 37px;
}


@media (min-width: 768px){
    #check-timelime-email-id{
        display: block;
        position: relative;
        right: 20px;
        font-size: 25px;
    }
}

@media (max-width: 575px){
    .timeline--entry{
        width: 66.5vw;
    }

