/* Seccion Oportunidades */

.crece-oportunidades{
    background-color: #e9ebee;
  }

.crece-oportunidades > div {
    margin: 0px;
    width: 100%;
}
  
  .crece-oportunidades-contenedor {
    background-color: white;
    width: 332px;
    height: 440px;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .crece-oportunidades-titulo {
    color: #006B8D;
    font-size: 26.62px;
    font-weight: 700;
    margin-top: 90px;
  }
  .crece-oportunidades-imagen {
    width: 332px;
    height: 162px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
  }
  
  .crece-oportunidades-imagen-gradiente {
    background-color: rgba(0,91,122,0.5);
    width: 330px;
    height: 162px;
    border-radius: 10px 10px 0px 0px;
  
    display: flex;
    align-items: center;
  }
  
  .crece-oportunidades-imagen-gradiente-texto span{
    display: block;
    font-size: 14px;
    padding: 0.5px 0px;
  }
  
  

  .crece-oportunidades-imagen-gradiente-texto{
    padding-left: 32px;
  }
  
  .crece-oportunidades-imagen-gradiente-texto strong{
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 0.5px 0px;
  }
  
  .crece-oportunidades-contenido-monto {
    color: #006B8D;
    margin-top: 10px;
  }
  
  .crece-oportunidades-contenido-monto > div {
    padding: 0px 15px;
  }
  
  .crece-oportunidades-contenido-monto-img-wrapper img {
    float: right;
    padding: 0px;
    margin: 1px 0px;
  }
  
  .crece-oportunidades-contenido-monto-img-wrapper {
    padding: 0px;
  }
  
  .crece-oportunidades-contenido-monto-img-wrapper span {
    display: none;
  }
  
  .crece-oportunidades-contenido-monto p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .crece-oportunidades-contenido-monto strong{
    font-size: 18px;
    font-weight: 600;
  }
  
  .crece-oportunidades-contenido-monto-texto {
    padding: 0px;
  }
  
  .crece-oportunidades-contenido-monto-barra{
    height: 3px;
    width: 95%;
    background-color: #DEDEDE;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
  }
  
  .crece-oportunidades-contenido-monto-barra-progreso{
    height: 100%;
    background-color: #006B8D;
    border-radius: 3px 0px 0px 3px;
  }
  
  .copyButton {
    background-color: white;
    border-color: white;
    border-width: 0px;
    border-style: none;
    float: right;
    padding-right: 0px;
  }
  
  .crece-oportunidades-contenido-informacion{
    color: #006B8D;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
  }
  
  .crece-oportunidades-contenido-informacion p{
    font-weight: 300;
    line-height: 1.3;
  }
  
  .crece-oportunidades-contenido-informacion strong{
    font-weight: 600;
  }
  
  .crece-oportunidades-contenido-solicitante {
    color: #006B8D;
    margin-top: 33px;
  }
  
  .crece-oportunidades-contenido-solicitante strong{
    font: Bold 16px/29px Montserrat;
  }
  
  .crece-oportunidades-contenido-solicitante p{
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    width: 271px;
    height: 52px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    margin-bottom: 10px;
    opacity: 0.7;
  }
  
  .crece-oportunidades-contenido-historial{
    color: #006B8D;
    font-size: 14px;
    text-align: center;
  }
  
  .crece-oportunidades-contenido-historial p{
    font-weight: 300;
    line-height: 1.3;
  }
  
  .crece-oportunidades-contenido-historial strong{
    font-weight: 600;
  }
  
  .crece-oportunidades-contenido-historial-centro {
    padding: 0px;
  }
  
  .crece-oportunidades-contenido-botones{
    margin-top: 12px;
  }
  
  .crece-oportunidades-contenido-botones a{
    display: inline-block;
    width: 118px;
    height: 29px;
    text-align: center;
    font-size: 13.2px;
    font-weight: 700;
    border-radius: 2px;
    padding-top: 3px;
  }
  
  .crece-oportunidades-contenido-botones button{
    display: inline-block;
    width: 118px;
    height: 29px;
    text-align: center;
    font-size: 13.2px;
    font-weight: 700;
    border-radius: 2px;
    padding-top: 3px;
  }
  
  .crece-oportunidades-contenido-botones-blanco button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: #006B8D;
  }
  
  .crece-oportunidades-contenido-botones-azul a{
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
  }

  .crece-oportunidades-contenido-botones-azul-desactivado a {
    background: rgba(0, 108, 141, 0.603) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(0, 108, 141, 0.603);
    color: white;
  }

  .crece-oportunidades-contenido-botones-azul-desactivado a:hover{
    cursor: not-allowed;
    text-decoration-line: none;
  }
  
  .crece-oportunidades-mas a {
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
  
    display: inline-block;
    width: 192px;
    height: 38px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  
  .crece-oportunidades-mas a:hover,  
  .crece-oportunidades-contenido-botones-azul a:hover{
    text-decoration: none;
    background: rgba(0, 107, 141, 0.8) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(0, 107, 141, 0.8);
  }
  
  .crece-oportunidades-contenido-botones-blanco button:hover{
    text-decoration: none;
    color:#1199AD;
    border: 1px solid #1199AD;
  }
  
  .crece-oportunidades-anterior:hover,
  .crece-oportunidades-siguiente:hover{
    text-decoration: none;
    color:#1199AD;
  }
  
  .crece-oportunidades-anterior,
  .crece-oportunidades-siguiente{
    background: #e9ebee 0% 0% no-repeat padding-box;
    border: 1px solid #e9ebee;
    color: #006B8D;
  
    display: inline-block;
    width: 180.5px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
    margin-bottom: 5px;

    padding: 1px 6px;
  }
  
  .crece-oportunidades-anterior span,
  .crece-oportunidades-siguiente span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    height: 100%;
    margin: 0px 3px;
  }
  
  .fa {
    font-size: 30px;
  }
  
  
  
  
  /*
  
  
  
  
          SECCION MODAL DETALLE SOLICITUD
  
  
  
  
  
  */
  
  
  .crece-detalle-operaciones {
    padding: 0px;
    display: none;
  }
  
  .fondo-gris{
    background-color: #e9ebee;
  }
  
  .fondo-blanco{
    background-color: white;
  }
  
  /* header detalle */
  
  .crece-detalle-operaciones-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 30px); /*compensa -15px de margin */
    overflow-x: hidden;
    text-align:center;
    position:relative;
    margin: 0px -15px;
  }
  
  .crece-detalle-operaciones-header-gradiente {
    overflow: hidden;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 30px); /*compensa -15px de margin */
    overflow-x: hidden;
    margin: 0px -15px;
    background-color: rgba(0,107,141,0.6);
    text-align: center;
    position:relative;
    position:absolute;
    z-index:0;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  
  .crece-detalle-operaciones-header-gradiente-imagen{
    height: 240px;
  
  }
  
  .crece-detalle-operaciones-header-imagen{
    overflow-x: hidden;
    padding: 0px;
    height: 240px;
  }
  
  .crece-detalle-operaciones-header-imagen-blur{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position:absolute;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%; /*compensa -15px de margin */
    overflow-x: hidden;
    height: 240px;
    transform: scale(1.03);
  }
  
  .crece-detalle-operaciones-header-gradiente-imagen-autor{
    margin-top: 36px;
    height: 165px;
    width: 165px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.72);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  
  .crece-detalle-operaciones-header-gradiente h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    padding: 0px 10px;
    margin-top: 71.5px;
  }
  .crece-detalle-operaciones-header-gradiente h2{
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    justify-content: left;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    padding: 0px 10px;
        color: white;


  }
  
  /* Contenido */
  
  .crece-detalle-operaciones-contenido {
    width: 100%;
    margin: 25px 0px;
  }
  
  /*Barra Progreso */
  .crece-operaciones-contenido-monto-barra{
    height: 6px;
    width: 90%;
    background-color: #DEDEDE;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
  }
  
  .crece-operaciones-contenido-monto-barra-progreso{
    height: 100%;
    background-color: #006B8D;
    border-radius: 6px 0px 0px 6px;
    float: left;
  }

  .crece-operaciones-contenido-monto-barra-progreso-proyectado{
    height: 100%;
    background-color: #08a7ba;
    border-radius: 0px 6px 6px 0px;
  }
  
  /* Barra progreso Datos */
  
  .crece-operaciones-contenido-datos-barra {
      margin: 20px 0px;
      color: #006B8D;
  }
  
  .crece-operaciones-contenido-datos-barra strong{
    display: block;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1em;
  }
  
  .crece-operaciones-contenido-datos-barra span{
    display: block;
    font-size: 14px;
    font-weight: 300;
  }
  
  .crece-operaciones-contenido-datos-barra-objetivo{
    text-align: right;
  }
  
  /* Informacion prestamo */
  .crece-operaciones-contenido-informacion{
    color: #006B8D;
    padding: 0px;
  }
  
  .crece-operaciones-contenido-informacion .row{
    padding: 0px 27px;
  }
  
  .crece-operaciones-contenido-informacion-subrayado{
    border-bottom: 1px solid #DEDEDE
  }
  
  .crece-operaciones-contenido-informacion div.col-6,
  .crece-operaciones-contenido-informacion div.col-3{
    padding: 12px 0px;
  }
  
  .crece-operaciones-contenido-informacion div.col-auto{
    padding: 12px 0px;
    border-bottom: 1px solid #DEDEDE
  }
  
  .crece-operaciones-contenido-informacion h2{
    font-size: 22px;
    font-weight: 700;
  }
  
  .crece-operaciones-contenido-informacion strong{
    font-size: 16px;
    font-weight: 600;
  }
  
  .crece-operaciones-contenido-informacion span{
    display: block;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
  }
  
  /*historia*/
  
  .crece-operaciones-contenido-historia{
    color: #006B8D;
    padding: 0px;
    margin-top: 15px;
  }
  
  .crece-operaciones-contenido-historia .row{
    padding: 12px 15px;
  }
  
  .crece-operaciones-contenido-historia h2{
    font-size: 22px;
    font-weight: 700;
    text-align: left;
  }
  
  .crece-operaciones-contenido-historia p{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: justify;
  }
  
  
  /* Invierte */
  
  .crece-detalle-operaciones-invierte{
    color: #006B8D;
    border: 1px solid #DEDEDE;
    margin: 25px 0px;
  }

  .crece-detalle-operaciones-invierte-minimo{
    width: 100%;
    text-align: center;
    font-size: 12px !important;
    font-weight: 400 !important;
    padding-top: 5px;
  }
  
  .crece-detalle-operaciones-invierte > div{
    padding: 25px 15px;
  }
  
  .crece-detalle-operaciones-invierte h3{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;  
  }
  
  .crece-detalle-operaciones-invierte p{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 8px;
  }
  
  .crece-detalle-operaciones-invierte-monto div{
    border-bottom: 1px solid #DEDEDE;
  }
  
  .crece-detalle-operaciones-invierte-monto div:focus{
    border-bottom: 1px solid #006B8D;
  }
  
  .crece-detalle-operaciones-invierte-monto input{
    width: 90%;
    border: 0px;
    color: #006B8D;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    line-height: 1.1em;
    padding-left: 3px;
  }
  
  .crece-detalle-operaciones-invierte-monto label{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.1em;
  }
  
  .crece-detalle-operaciones-invierte-botones a{
    display: inline-block;
    width: 160px;
    height: 40px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
  }
  
  .crece-detalle-operaciones-invierte-botones{
    padding-top: 0px;
  }
  .crece-detalle-operaciones-invierte-botones > div {
      padding-top: 10px;
  }
  
  .crece-detalle-operaciones-invierte-botones-blanco a{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: #006B8D;
    font-size: 15px;
    padding-top: 7px;
  }
  
  .crece-detalle-operaciones-invierte-botones-azul a{
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
    font-size: 18px;
    padding-top: 5px;
  }
  
  .crece-detalle-operaciones-invierte-botones-azul a:hover{
    text-decoration: none;
    background: rgba(0, 107, 141, 0.8) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(0, 107, 141, 0.8);
  }
  
  .crece-detalle-operaciones-invierte-botones-blanco a:hover{
    text-decoration: none;
    color:#1199AD;
    border: 1px solid #1199AD;
  }
  
  /* Historial*/
  
  .crece-detalle-operaciones-historial{
    color: #006B8D;
    border: 1px solid #DEDEDE;
    margin: 0px 0px 25px 0px;
  }
  
  .crece-detalle-operaciones-historial-calificacion {
    margin: 10px 0px 13px 0px;
  }
  
  .crece-detalle-operaciones-historial h3{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 15px 0px 0px 0px;
  }
  
  .crece-detalle-operaciones-historial h5{
    font-size: 12px;
    font-weight: 200;
    text-align: center;
  }
  
  .crece-detalle-operaciones-historial-datos{
    padding: 10px;
  }
  
  .crece-detalle-operaciones-historial-datos div{
    padding: 0px;
  }
    
  .crece-detalle-operaciones-historial-datos h4{
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
  }
  
  .crece-detalle-operaciones-historial-datos h5{
    font-size: 12px;
    font-weight: 200;
    text-align: right;
    padding-right: 30px;
  }
  
  .crece-detalle-operaciones-historial-datos .row{
    padding-top: 14px;
  }
  
  @media screen and (max-width: 600px) {
    .crece-detalle-operaciones-header-gradiente-imagen-autor{
        margin-top: 59px;
        height: 120px;
        width: 120px;
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid rgba(255,255,255,0.72);
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    
    .crece-detalle-operaciones-header-gradiente h1{
        display: inline-block;
        font-size: 30px;
        font-weight: 600;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
        padding: 0px 10px;
        margin-top: 81.5px;
    }
    .crece-detalle-operaciones-header-gradiente h2{
        display: inline-block;
        font-size: 25px;
        font-weight: 500;
        justify-content: left;
        /* align horizontal */
        align-items: center;
        /* align vertical */
        padding: 0px 10px;
    }
  
    .crece-detalle-operaciones-header-gradiente-imagen {
        padding-left: 5%;
    }
  
    .crece-operaciones-contenido-informacion-subrayado{
        border-bottom: 0px;
    }
    
    .crece-detalle-operaciones-invierte h3 {
      width: 100%;
    }
  }
  @media screen and (min-width: 992px) {
    @media screen and (max-width: 1300px){
      .crece-detalle-operaciones-invierte-botones-azul a {
            width: 100%;
        font-size: 13px;
        padding: 5px 10px;
        height: 100%;
      }
    }
  }
    
  /* Modal */
  
  .crece-modal{
    display: none;
    padding: 0px;
  
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
  
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
  
    background-color: rgba(0,0,0,0.85);
    /*   Estas propiedades se agregan en el js cuando el
          vh es mayor que el modal
  
    justify-content: center;
    align-items: center;
    */
  }
  
  .crece-modal-container{
  }
  
  .crece-detalle-operaciones-header-gradiente-imagen,
  .crece-detalle-operaciones-header-gradiente{
    margin: 0px;
  
  }
  
  .crece-detalle-operaciones-header{
    position: relative;
  }
  
  .crece-detalle-operaciones-header svg {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .crece-detalle-operaciones-header-gradiente-cerrar:hover, 
  .crece-detalle-operaciones-header-gradiente-cerrar *:hover{
    cursor: pointer;
    fill: rgba(255,255,255,0.8);
  }


  #crece-detalle-operaciones-header-imagen-blur-id{
    position: relative;
  }

  #crece-regresar-detalle-solicitud{
    color: grey;
    position: relative;
    top: 9px;
    left: 18px;
    cursor: pointer;
  }


  /*Inversiones validas*/

.solicitud-valida-detalle-inversion-texto-derecha-movil{
      display: none;
    }

.crece-solicitud-valida-contenedor{
  background-color: white;
  color: #08A7BA;
  max-width: 900px;
  height: 350px;
  margin-bottom: 50px;
    border: 1px solid #DEDEDE;
    z-index: auto;
}

.crece-solicitud-valida-detalle-inversion img{
  width: 20px;
}

.crece-solicitud-valida-imagen-autor{
  margin-top: 12px;
}

.crece-solicitud-valida-imagen-autor div.crece-detalle-operaciones-header-gradiente-imagen-autor{
height: 200px;
    width: 200px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.crece-solicitud-valida-imagen-autor h4{
color: #006B8D;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
}

.crece-solicitud-valida-imagen-autor h5{
font-size: 16px;
}


.crece-solicitud-valida-detalle-intereses-ganados{
  margin-bottom: 71px;
  margin-top: 16px;
}

.crece-solicitud-valida-detalle-intereses-ganados > div:nth-child(3){
  margin-top: 8px;
}

.crece-solicitud-valida-imagen-autor > span{
  border: 1px solid #08A7BA;
    padding: 5px;
    border-radius: 11px;
    color: #006B8D;
    font-weight: 500;
}

.solicitud-valida-autor-detalles-movil{
  display: none;
}

.solicitud-valida-autor-nombre{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.solicitud-valida-autor-tipo-oportunidad{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}



.solicitud-valida-detalles-vencimiento{
  position: absolute;
  left: -6%;
  border: 1px solid;
    border-radius: 10px;
  max-width: 212px;
  padding: 15px 0px;
}

.solicitud-valida-detalles-vencimiento > div:nth-child(1){
  margin-bottom: 16px;
}

/*.solicitud-valida-detalles-vencimiento > div:nth-child(1) > span{
  color: #006B8D;
}
*/
.solicitud-valida-detalles-vencimiento > div:nth-child(2){
  margin-bottom: 16px;
}

.solicitud-valida-detalles-vencimiento > div:nth-child(3){
  margin-bottom: 16px;
}

.vencimiento-texto{
  font-size: 13px;
  padding-left: 10px;
      margin-top: auto;
    margin-bottom: auto;
}

.vencimiento-valor{
  font-size: 15px;
    font-weight: 500;
    color: #006B8D;
    margin-top: auto;
    margin-bottom: auto;
        padding-left: 0px;
    padding-right: 0px;

}

.solicitud-valida-detalle-capitales > span{
  font-size: 30px;
}

.solicitud-valida-detalle-capitales-texto{
  font-size: 13px;
  top: -8px;
}

.solicitud-valida-detalle-capitales > span:nth-child(2){
  position: absolute;
    left: 48%;
}

.solicitud-valida-detalle-capitales-texto > span:nth-child(2){
  margin-left: 20px;
}


.crece-solicitud-detalle-icono{
  margin-bottom: auto;
  margin-top: auto;
}

.solicitud-valida-detalles-vencimiento img{
  width: 20px;
}
.crece-solicitud-valida-detalle-inversion{
  padding-left: 5px;
  position: relative;
  top: -8%;


}

.crece-solicitud-valida-detalle-inversion span:not(:nth-child(2)){
color: #006B8D;
    font-weight: 500;
    font-size: 16px;
}
.crece-solicitud-valida-detalle-inversion>div>div{
margin-bottom: 15px;
font-size: 13px;
}

.crece-solicitud-valida-botones{
  margin-top: auto;
}

.crece-solicitud-valida-botones > div > div{
      padding-bottom: 5px;
}

.ver-mas-solicitud-vigente button{
    background-color: white;
    padding: 5px 24px;
    border: 1px solid #006B8D;
    color: #006B8D;
    font-weight: 700;
    padding: 5px 24px;
}

.tabla-pagos-solicitud-vigente button{
  padding: 5px 24px;
  font-weight: 700;
}

.crece-solicitud-valida-logo img{
    position: relative;
    top: -20px;
}




@media screen and (max-width: 600px){
  .crece-resumen-inversion>div{
    justify-content: left !important;
    padding-left: 13px;
  }
  .tabla-amortizacion > tr > td:nth-child(2) {
    display: none;
  }
  .tabla-amortizacion > tbody > tr> th:nth-child(2) {
    display: none;
  }
  .tabla-amortizacion > tr > td:nth-child(3) {
    display: none;
  }
  .tabla-amortizacion > tbody > tr> th:nth-child(3) {
    display: none;
  }
  .tabla-amortizacion > tr > td:nth-child(4) {
    display: none;
  }
  .tabla-amortizacion > tbody > tr> th:nth-child(4) {
    display: none;
  }
  .tabla-amortizacion > tr > td:nth-child(5) {
    display: none;
  }
  .tabla-amortizacion > tbody > tr> th:nth-child(5) {
    display: none;
  }
  .tabla-amortizacion > tr > td:last-child{
    text-align: center !important;
  }
}



@media screen and (min-width: 320px) and (max-width: 575px){
    @media screen and (min-width: 425px){
      .crece-solicitud-valida-contenedor {
        max-width: 450px;
      }
    }
    .crece-solicitud-valida-imagen-autor div.crece-detalle-operaciones-header-gradiente-imagen-autor{
      height: 150px;
          width: 150px;
          margin-top: 15px;
          margin-bottom: 9px;
    }

      .crece-solicitud-valida-contenedor {
        height: 300px;
      }
        .solicitud-valida-autor-nombre{
          font-size: 8px;
        }
        .solicitud-valida-autor-tipo-oportunidad{
          font-size: 8px;
        }
        .crece-solicitud-valida-imagen-autor > span {
          font-size: 10px;
        }
        .solicitud-valida-detalle-capitales > span {
            font-size: 20px;
        }
        .solicitud-valida-detalle-capitales-texto {
            font-size: 10px;
            top: -8px;
        }
        .crece-solicitud-valida-detalle-intereses-ganados{
          margin-bottom: 0px;
        }
        .solicitud-valida-detalles-vencimiento {
            position: relative;
            left: 10%;
            border: 1px solid;
            max-width: 190px;
            padding: 0px 0px;
        }
        .vencimiento-texto {
            font-size: 12px;  
        } 
        .solicitud-valida-detalles-vencimiento > div:nth-child(1) {
             margin-bottom: 5px; 
        }
        .solicitud-valida-detalles-vencimiento > div:nth-child(2) {
              margin-bottom: unset; 
              text-align: right;
        }
        .solicitud-valida-detalles-vencimiento > div:nth-child(3) {
            margin-bottom: unset;
            text-align: center;
        }

        .crece-solicitud-valida-detalle-inversion {
            top: unset;
        }
        .crece-solicitud-valida-detalle-inversion>div>div {
          margin-bottom: 5px;
          font-size: 10px;
        }
        .crece-solicitud-valida-detalle-intereses-ganados > div:nth-child(3) {
            margin-bottom: 14px;
        }
        .crece-solicitud-valida-detalle-inversion span:not(:nth-child(2)) {
            font-size: 12px;
        }
        .crece-solicitud-valida-botones button {
            padding: 5px 20px;
            font-size: 12px;
        }
        .solicitud-valida-autor-detalles-movil{
          display: block;
        }

        .crece-solicitud-valida-imagen-autor-contenido{
          display: none;
        }
        .crece-solicitud-valida-botones {
            margin-top: 8px;
        }
        .crece-solicitud-valida-botones > div > div {
              text-align: center;
        }


}

@media screen and (min-width: 576px) and (max-width: 618px){
        .solicitud-valida-detalles-vencimiento {
            position: absolute;
            left: 171px;
            top: -65px;
            border: 1px solid;
            width: 194px;
            padding: 0px 0px;
        }

        .vencimiento-texto {
            font-size: 12px;  
        } 
        .solicitud-valida-detalles-vencimiento > div:nth-child(1) {
             margin-bottom: 5px; 
        }
        .solicitud-valida-detalles-vencimiento > div:nth-child(2) {
              margin-bottom: unset;
              text-align: right;
              
        }
        .solicitud-valida-detalles-vencimiento > div:nth-child(3) {
            margin-bottom: unset;
            text-align: center;
        }
}

@media screen and (min-width: 619px) and (max-width: 767px){
  @media screen and (max-width: 618){
        .solicitud-valida-detalles-vencimiento {
            position: absolute;
            left: -14%;
            border: 1px solid;
            max-width: 190px;
            padding: 0px 0px;
        }
  }
        .solicitud-valida-detalles-vencimiento {
            position: absolute;
            left: -14%;
            border: 1px solid;
            max-width: 190px;
            padding: 0px 0px;
        }
        .vencimiento-texto {
            font-size: 12px;  
        } 
        .solicitud-valida-detalles-vencimiento > div:nth-child(1) {
             margin-bottom: 5px; 
        }
        .solicitud-valida-detalles-vencimiento > div:nth-child(2) {
              margin-bottom: unset;
              text-align: right;
              
        }
        .solicitud-valida-detalles-vencimiento > div:nth-child(3) {
            margin-bottom: unset;
            text-align: center;
        }
}

@media screen and (min-width: 768px){
    @media screen and (max-width: 1024px) {

      @media screen and (min-width: 869px){

          .solicitud-valida-detalles-vencimiento {
            padding: 2px 0px;
            left: -22%;
          }
      }

      @media screen and (max-width: 868px ) {
        .solicitud-valida-autor-nombre{
          font-size: 13px;
        }
        .solicitud-valida-autor-tipo-oportunidad{
          font-size: 13px;
        }

        .crece-solicitud-detalle-icono{
          padding: 0px;
        }

        .solicitud-valida-detalle-capitales > span {
          font-size: 25px;
        }
        .solicitud-valida-detalle-capitales-texto{
          font-size: 10px !important;
        }
        .solicitud-valida-detalles-vencimiento {
            padding: 2px 0px;
            left: -22px;
          }
        .crece-solicitud-valida-detalle-inversion {
          top: 0%;
        }



      }

      

    }
}

/*Tooltip*/

.fa-question-circle {
    cursor: pointer;
    font-size: 15px;
    top: 5%;
    right: -1%;
}

.fa-question-circle span {
    font-size: 14px;
}

.fa-question-circle:hover span {
  visibility: visible;
  opacity: 1;
}

.crece-oportunidades-contenido-informacion p{
  font-size: 14px !important;
  padding: 0px 0px;
}

.crece-oportunidades-contenido-historial p{
  font-size: 14px !important;
  padding: 0px 0px;
}


/*TIPO CREDITO*/
.tooltipTipo_cred{

}

.fa-question-circle .tooltiptextTipo_cred {
    visibility: hidden;
    width: 337px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 7px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: -167px;
    opacity: 0;
    transition: opacity 1s;
}

.fa-question-circle .tooltiptextTipo_cred::after {
    content: "";
    position: absolute;
    top: -36%;
    left: 49%;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}

/*TICKER*/


.fa-question-circle .tooltiptextTicker {
    visibility: hidden;
    width: 297px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 7px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.fa-question-circle .tooltiptextTicker::after {
    content: "";
    position: absolute;
    top: -31%;
    left: 20%;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}

/*TIR*/
.tooltipTir {
    position: absolute;
    top: 2%;
    left: 75%;
}

.tooltiptextTir{
  font-size: 14px;
}


.fa-question-circle .tooltiptextTir {
    visibility: hidden;
    width: 312px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    z-index: 2;
    bottom: -140px;
    left: -274px;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}

.fa-question-circle .tooltiptextTir::after {
    content: "";
    position: absolute;
    top: -25%;
    left: 280px;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}

/*PUNTUALIDAD*/
.tooltipPun {
      position: absolute;
    top: 2%;
    left: 88%;
    z-index: 1;
}


.fa-question-circle .tooltiptextPun {
    visibility: hidden;
    width: 277px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    z-index: 1;
    bottom: 31px;
    left: -193px;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}

.fa-question-circle .tooltiptextPun::after {
    content: "";
    position: absolute;
    top: 92%;
    left: 200px;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: #AECB6F transparent transparent transparent;
}

/*PAGADOS*/
.tooltipPag {
      position: absolute;
    top: 2%;
    left: 75%;
}


.fa-question-circle .tooltiptextPag {
    visibility: hidden;
    width: 277px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    z-index: 1;
    bottom: 31px;
    left: -71px;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}


.fa-question-circle .tooltiptextPag::after {
    content: "";
    position: absolute;
    top: 92%;
    left: 79px;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: #AECB6F transparent transparent transparent;
}


/*VIGENTES*/
.tooltipVig {
    position: absolute;
    top: 2%;
    left: 75%;
}


.fa-question-circle .tooltiptextVig {
    visibility: hidden;
    width: 277px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    z-index: 1;
    bottom: 31px;
    left: -238px;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}


.fa-question-circle .tooltiptextVig::after {
    content: "";
    position: absolute;
    top: 92%;
    left: 246px;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: #AECB6F transparent transparent transparent;
}



/****Ver MAS *****/

/*TIPO CREDITO*/

.tooltipTipo_credVermas{
  margin-right: unset;
  width: unset;
  position: unset;
}

.fa-question-circle .tooltiptextTipo_credVermas {
    visibility: hidden;
    width: 416px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 22px;
    position: absolute;
    z-index: 1;
    margin-left: -83px;
    margin-top: 5%;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}

.fa-question-circle .tooltiptextTipo_credVermas::after {
    content: "";
    position: absolute;
    top: -36%;
    left: 20%;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}

/*TICKER*/
.fa-question-circle .tooltiptextTickerVermas {
    visibility: hidden;
    width: 416px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 22px;
    position: absolute;
    z-index: 1;
    bottom: -86px;
    left: -77%;
    /* top: 50px; */
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}

.fa-question-circle .tooltiptextTickerVermas::after {
    content: "";
    position: absolute;
    top: -30%;
    left: 20%;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}

.fa-question-circle:hover .tooltiptextTickerVermas {
  visibility: visible;
  opacity: 1;
}

/*TIR*/
.tooltipTir {
      position: absolute;
}


.fa-question-circle .tooltiptextTirVermas {
    visibility: hidden;
    width: 416px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 22px;
    position: absolute;
    z-index: 1;
    top: 165%;
    left: -123%;
    opacity: 0;
    transition: opacity 1s;
    color: white;
    font-size: 14px;
}

.fa-question-circle .tooltiptextTirVermas::after {
    content: "";
    position: absolute;
    top: -27%;
    left: 9%;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}

.fa-question-circle:hover .tooltiptextTirVermas {
  visibility: visible;
  opacity: 1;
}

/*PUNTUALIDAD*/

.tooltipPunVermas {
    margin-right: 0px;
    width: unset;
}


.fa-question-circle .tooltiptextPunVermas {
    visibility: hidden;
    width: 277px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    z-index: 1;
    bottom: -82px;
    left: -175px;
    opacity: 0;
    transition: opacity 1s;
    color: white;
}

.fa-question-circle .tooltiptextPunVermas::after {
    content: "";
    position: absolute;
    top: -40%;
    left: 174px;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}

/*PAGADOS*/

.tooltipPagVermas {
    font-size: 15px;
    margin-right: unset;
    width: unset;
}


.fa-question-circle .tooltiptextPagVermas {
    visibility: hidden;
    width: 277px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    color: white;
        margin-left: -188px;
    margin-top: 29px;
}

.fa-question-circle .tooltiptextPagVermas::after {
    content: "";
    position: absolute;
    top: -56%;
    left: 174px;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}


/*VIGENTES*/

.tooltipVigVermas {

    font-size: 15px;
    margin-right: unset;
    width: unset;

}


.fa-question-circle .tooltiptextVigVermas {
    visibility: hidden;
    width: 277px;
    background-color: #AECB6F;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 13px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    color: white;
        margin-left: -188px;
    margin-top: 29px;
}

.fa-question-circle .tooltiptextVigVermas::after {
    content: "";
    position: absolute;
    top: -45%;
    left: 174px;
    margin-left: -10px;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent #AECB6F transparent;
}


@media screen and (max-width: 991px) {

  @media screen and (min-width: 601px) {
      .fa-question-circle .tooltiptextTickerVermas {
          margin-left: -16.5%;

      }

      .fa-question-circle .tooltiptextTickerVermas::after {
          top: -32%;
          left: 15.5%;
      }


      .fa-question-circle .tooltiptextTirVermas {
              margin-left: 0.75%;
        margin-top: -1%;

      }

      .fa-question-circle .tooltiptextTirVermas::after {
          margin-left: -10px;
          
      }

      .fa-question-circle .tooltiptextPunVermas {
              margin-left: 136px;
        margin-top: 29px;
      }
      .fa-question-circle .tooltiptextPunVermas::after {
        top: -40%;
        left: 39px;

      }
  }
}

@media screen and (max-width: 600px) {

    /*TIPO CREDITO*/
    .fa-question-circle .tooltiptextTipo_credVermas {
          margin-top: 10px;
          margin-left: -142px;
          width: 300px;
          font-size: 10px;
      }
    .fa-question-circle .tooltiptextTipo_credVermas::after {
        top: -48%;
        left: 47%;
      }
    /*Ticker*/
   .fa-question-circle .tooltiptextTickerVermas {
          margin-left: -123.5%;
          font-size: 10px;
          width: 300px;
          top: unset;
          bottom: unset;
          margin-top: 25%;

      }

      .fa-question-circle .tooltiptextTickerVermas::after {
          top: -44%;
      }

      /*TIR*/
      .fa-question-circle .tooltiptextTirVermas {
        margin-left: 21.75%;
        margin-top: -1%;
        font-size: 10px;
        width: 300px;

      }

      .fa-question-circle .tooltiptextTirVermas::after {
          margin-left: -10px;
          top: -32%;
          left: 10%;
          
      }
      /*PUNTUALIDAD*/
      .fa-question-circle .tooltiptextPunVermas {
        
              margin-left: 97px;
            margin-top: 23px;
            font-size: 10px;
            width: 322px;
            bottom: unset;     
      }
      .fa-question-circle .tooltiptextPunVermas::after {
        top: -60%;
        left: 86px;
        border-width: 10px;

      }

      /*PAGADOS*/
      .fa-question-circle .tooltiptextPagVermas {
        
                  margin-left: -149px;
          margin-top: 23px;
          font-size: 10px;
          width: 265px;
          bottom: unset;
      }
      .fa-question-circle .tooltiptextPagVermas::after {
        top: -60%;
        left: 142px;
        border-width: 10px;
      }
      /*VIGENTES*/
      .fa-question-circle .tooltiptextVigVermas {
        margin-left: -161px;
          margin-top: 23px;
          font-size: 10px;
          width: 265px;
          bottom: unset;     
      }
      .fa-question-circle .tooltiptextVigVermas::after {
        top: -46%;
        left: 155px;
        border-width: 10px;
      }
}

/* Solicitudes LIST */

.crece-oportunidades-list-container{
  display: none;
}

.crece-oportunidades-list-container-card-image-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.crece-oportunidades-list-container-card-image-container-image{
  width: 137px;
  height: 137px;
  object-fit: cover;
  border-radius: 100px;
}

.crece-oportunidades-list-container-card-wrapper{
  max-width: 862px;
  margin: auto;
}

.crece-oportunidades-list-container-card{
  background-color: white;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 20px;
  min-width: 862px;
  padding-left: 0px;
  
}

.crece-oportunidades-list-container-card-image-container-gradiente{
  background-color: rgba(0,91,122,0.5);
  width: 137px;
  height: 137px;
  border-radius: 100px;
  position: absolute;
}

.crece-oportunidades-list-container-card .crece-oportunidades-imagen-gradiente-texto{
  color: #006B8D;
  padding-left: 0px;
  max-width: 219px;
}

.crece-oportunidades-list-container-card .crece-oportunidades-contenido-monto-texto p{
  padding-left: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.crece-oportunidades-list-container-card .crece-oportunidades-contenido-monto-texto strong{
  font-size: 18px;
}

.crece-oportunidades-list-container-card .crece-oportunidades-contenido-monto-texto p{
  font-size: 14px;
}

.crece-oportunidades-list-container-card .crece-oportunidades-contenido-informacion{
  margin-top: 0px;
}

.crece-oportunidades-list-container .crece-oportunidades-contenido-monto-barra{
  margin-top: 10px;
}