section{
	padding: 0px;
	background-color: #E9EBEE;
}

.body-contrato{
	padding: 20px 45px;
	background-color: white;
}

#contrado-titulo{
	color: #006B8D;
	font-size: 30px;
}

#crece-declaracion-body-id{
	text-align: center;
}

#crece-declaracion-body-id p{
	color: black;
	text-align: justify;
	padding: 30px 0px;
}

#descargar-contrato {
	margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 160px;
    height: 40px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    padding: 0px 10px;
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}


.crece-flujo-inversionista-barra{
    margin-bottom: 20px !important;
}