.crece-confirmar-transferencia-formulario{
    background-color: #E9EBEE;
    padding: 0px;
}

.crece-confirmar-transferencia-formulario-wrapper{
    background-color: white;
    border: 1px solid #DEDEDE;
}

h2 {
    font-size: 26px;
    color: #006B8D;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 0px;
}

#enviar_transferencia{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 160px;
    height: 40px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    padding: 0px 10px;
    
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
    font-size: 18px;

    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #006B8D;
    padding: 0px 10px;

}

label {
    width: 100% !important;
    padding: 0px 10px;
}

form{
    padding: 15px
}

.form-control {
    border: 2px solid #DEDEDE !important;
}

.crece-confirmar-transferencia-formulario-wrapper-boton-subir-doc{ 
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 190px !important;
    line-height: 40px;
    text-align: center;
    font-weight: 600 !important;
    border-radius: 30px;
    padding: 0px 10px;
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
    font-size: 14px !important;
    margin-bottom: 0px;
  }
  
  .crece-confirmar-transferencia-formulario-wrapper-boton-subir-doc:hover {
    cursor: pointer;
  }

  .crece-confirmar-transferencia-formulario-wrapper-boton-subir-label{
    font-weight: 300 !important;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #comprobante_transferencia {
    display: none;
  }