{% extends 'template_base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block head_css_agregado %}
            <link href="{% static 'fases_inversiones/css/fase2.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'fases_inversiones/css/base_styles.css' %}" rel="stylesheet" type="text/css">  
            <link href="{% static 'registro_inversionista/css/forms.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'fases_inversiones/css/completar_datos.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'fases_inversiones/css/flujo_inversionista.css' %}" rel="stylesheet" type="text/css">
            <script src="{% static 'registro_inversionista/js/valid-form.js' %}"></script>
        {% endblock head_css_agregado %}
    </head>
    <body> 

                {% block content %}  
                <div class="titulo">
                    <strong>Confirma tu inversion</strong>
                </div>
                <div class="row fases-inversiones-pasos">

                    <div class="col active">
                        Paso 1
                    </div>
                    <div class="col">
                        Paso 2
                    </div>
                    <div class="col">
                        Paso 3
                    </div>
                    <div class="col">
                        Paso 4
                    </div>
                </div>
                <section class="crece-completar-datos-formulario">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 crece-completar-datos-formulario-wrapper">
                            <div class="col-12">
                                <div class="row">
                                    <div class="crece-flujo-inversionista-paso crece-flujo-inversionista-paso-completado col-3">
                                        <span>1</span>
                                    </div>
                                    <div class="crece-flujo-inversionista-paso crece-flujo-inversionista-paso-selected col-3">
                                        <span>2</span>
                                    </div>
                                    <div class="crece-flujo-inversionista-paso col-3">
                                        <span>3</span>
                                    </div>
                                    <div class="crece-flujo-inversionista-paso col-3">
                                        <span>4</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <span class="crece-flujo-inversionista-progreso-texto">Progreso: 25%</span>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-12 crece-flujo-inversionista-barra">
                                        <div style="width: 25%;" class="crece-flujo-inversionista-barra-progreso"></div>
                                    </div>
                                </div>
                            </div>
                            <form method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Datos del inversionista</h2>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Nombre: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.nombres}}"
                                            class="form-control"
                                            name="nombre"
                                            id="nombre"
                                            data-valueMissing="Ingrese un nombre"
                                            />
                                    </div>
        
                                    <div class="form-group col-lg-12">
                                        <label>Apellidos: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.apellidos}}"
                                            class="form-control"
                                            name="apellidos"
                                            id="apellidos"
                                            data-valueMissing="Ingrese su apellido"
                                            />
                                    </div>
        
                                    <div class="form-group col-lg-8">
                                        <label>Cédula: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.cedula}}"
                                            class="form-control"
                                            name="cedula"
                                            id="cedula"
                                            data-valueMissing="Ingrese su número de cédula"
                                            />
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="foto_cedula" class="crece-completar-datos-formulario-wrapper-boton-subir-doc">
                                            Cargar cédula
                                        </label>
                                        <input 
                                            required
                                            type="file"
                                            accept="image/png, image/jpeg, application/pdf"
                                            class="form-control"
                                            name="foto_cedula"
                                            id="foto_cedula"
                                            data-valueMissing="Suba la imagen de su cédula"
                                            />
                                        <label id="labelDocumento" data-documento="{{usuario.cedula_ruta}}" class="crece-completar-datos-formulario-wrapper-boton-subir-label">PDF, JPG o PNG</label>
                                    </div>
        
                                    <div class="form-group col-lg-12">
                                        <label>Celular: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.celular}}"
                                            class="form-control"
                                            name="celular"
                                            id="celular"
                                            data-valueMissing="Ingrese su número de celular"
                                            />
                                    </div>
                                    <div class="form-group col-lg-12 crece-completar-datos-formulario-radio">
                                        <label>Estado Civil:</label>
                                        <select class="form-control" id="selectEstadoCivil" data-seleccion="{{usuario.estado_civil}}">
                                            <option value="soltero">Soltero/a</option>
                                            <option value="casado">Casado/a</option>
                                            <option value="divorciado">Divorciado/a</option>
                                            <option value="union libre">Unión libre</option>
                                            <option value="viudo">Viudo/a</option>
                                        </select>
                                    </div>
        
                                    <div class="crece-completar-datos-formulario-conyugue col-lg-12">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label>Nombre del cónyugue: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    value="{{usuario.conyuge_id.nombres}}"
                                                    class="form-control"
                                                    name="nombre_conyugue"
                                                    id="nombre_conyugue"
                                                    data-valueMissing="Ingrese el nombre de su cónyugue"
                                                    />
                                            </div>
                
                                            <div class="form-group col-lg-12">
                                                <label>Apellidos del cónyugue: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    value="{{usuario.conyuge_id.apellidos}}"
                                                    class="form-control"
                                                    name="apellidos_conyugue"
                                                    id="apellidos_conyugue"
                                                    data-valueMissing="Ingrese el apellido de su cónyugue"
                                                    />
                                            </div>
                
                                            <div class="form-group col-lg-12">
                                                <label>Cédula del cónyugue: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    value="{{usuario.conyuge_id.cedula}}"
                                                    class="form-control"
                                                    name="cedula_conyugue"
                                                    id="cedula_conyugue"
                                                    data-valueMissing="Ingrese el número de cédula de su cónyugue"
                                                    />
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <h2>Domicilio</h2>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Dirección de domicilio: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.direccion1}}"
                                            class="form-control"
                                            name="direccion"
                                            id="direccion"
                                            data-valueMissing="Ingrese su dirección de domicilio"
                                            />
                                    </div>
        
                                    <div class="form-group col-lg-12">
                                        <label>Provincia: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.provincia}}"
                                            class="form-control typeahead"
                                            name="provincia"
                                            id="provincia"
                                            data-valueMissing="Ingrese su provincia de residencia"
                                            />
                                    </div>
        
                                    <div class="form-group col-lg-12">
                                        <label>Canton: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.canton.nombre}}"
                                            class="form-control typeahead"
                                            name="canton"
                                            id="canton"
                                            data-valueMissing="Ingrese su canton de residencia"
                                            />
                                    </div>
        
                                    <div class="form-group col-lg-12">
                                        <label>Teléfono domicilio:</label>
                                        <input 
                                            value="{{usuario.telefono_domicilio}}"
                                            class="form-control"
                                            name="telf_domicilio"
                                            id="telf_domicilio"
                                            data-valueMissing="Ingrese el número de teléfono de su domicilio"
                                            />
                                    </div>
                                    
                                    <div class="col-12">
                                        <h2>Fuentes de Ingresos</h2>
                                    </div>
                                    <div class="form-group col-lg-12 crece-completar-datos-formulario-radio">
                                        <label>Principal fuente de ingresos:</label>
                                        <select class="form-control" id="selectTrabajo" data-seleccion="{{usuario.ingresos.descripcion}}">
                                            <option value="1">Relación de dependencia</option>
                                            <option value="2">Profesional independiente</option>
                                            <option value="3">Auto empleado</option>
                                        </select>
                                    </div>
        
                                    <div class="crece-completar-datos-formulario-relacion-dependencia col-12">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label>Empresa: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    
                                                    class="form-control"
                                                    name="empresa_relacion_dependencia"
                                                    id="empresa_relacion_dependencia"
                                                    data-valueMissing="Ingrese el nombre de la empresa donde trabaja"
                                                    />
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Cargo: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    
                                                    class="form-control"
                                                    name="cargo_relacion_dependencia"
                                                    id="cargo_relacion_dependencia"
                                                    data-valueMissing="Ingrese el cargo que desempeña en su empresa"
                                                    />
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Años en el puesto: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    
                                                    type="number"
                                                    class="form-control"
                                                    name="anios_relacion_dependencia"
                                                    id="anios_relacion_dependencia"
                                                    data-valueMissing="Ingrese el número de años que lleva en la empresa"
                                                    />
                                            </div>

                                        </div>
                                    </div>
        
                                    <div class="crece-completar-datos-formulario-profesional-independiente col-12">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label>RUC: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    class="form-control"
                                                    name="ruc_profesional_independiente"
                                                    id="ruc_profesional_independiente"
                                                    data-valueMissing="Ingrese su RUC"
                                                    />
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Actividad: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    
                                                    class="form-control"
                                                    name="actividad_profesional_independiente"
                                                    id="actividad_profesional_independiente"
                                                    data-valueMissing="Ingrese el nombre de su actividad"
                                                    />
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Años en la actividad: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    
                                                    type="number"
                                                    class="form-control"
                                                    name="anios_profesional_independiente"
                                                    id="anios_profesional_independiente"
                                                    data-valueMissing="Ingrese el número de años que ha desempeñado la actividad"
                                                    />
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="crece-completar-datos-formulario-auto-empleado col-12">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label>Empresa: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    
                                                    class="form-control"
                                                    name="empresa_auto_empleado"
                                                    id="empresa_auto_empleado"
                                                    data-valueMissing="Ingrese el nombre de la empresa"
                                                    />
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>RUC: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input                                     
                                                    class="form-control"
                                                    name="ruc_auto_empleado"
                                                    id="ruc_auto_empleado"
                                                    data-valueMissing="Ingrese el RUC"
                                                    />
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label>Actividades: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                                <input 
                                                    
                                                    class="form-control"
                                                    name="actividad_auto_empleado"
                                                    id="actividad_auto_empleado"
                                                    data-valueMissing="Ingrese sus actividades"
                                                    />
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="form-group col-lg-12">
                                        <label>Dirección: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.ingresos.direccion}}"
                                            class="form-control"
                                            name="direccion_empresa"
                                            id="direccion_empresa"
                                            data-valueMissing="Ingrese la dirección de su lugar de trabajo"
                                            />
                                    </div>
        
                                    <div class="form-group col-lg-12">
                                        <label>Canton: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.canton.nombre}}"
                                            class="form-control typeahead"
                                            name="canton_empresa"
                                            id="canton_empresa"
                                            data-valueMissing="Ingrese su canton de trabajo"
                                            />
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Ingresos aproximados: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.ingresos.ingresos_mensuales}}"
                                            type="number"
                                            class="form-control"
                                            name="ingresos_aproximados"
                                            id="ingresos_aproximados"
                                            data-valueMissing="Ingrese sus ingresos aproximados"
                                            />
                                    </div>

                                    <div class="col-12">
                                        <h2>Registra tu cuenta bancaria donde recibirás tus ganancias</h2>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label>Titular: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.cuenta_bancaria.titular}}"
                                            class="form-control typeahead"
                                            name="titular"
                                            id="titular"
                                            data-valueMissing="Ingrese el nombre del titular de la cuenta"
                                            />
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Banco:</label>
                                        <select class="form-control" id="selectBanco" data-seleccion="{{usuario.cuenta_bancaria.banco.nombre}}">
                                            <option value='BANCO GUAYAQUIL'>BANCO GUAYAQUIL</option>
                                            <option value='BANCO PACIFICO'>BANCO PACIFICO</option>
                                            <option value='BANCO PICHINCHA'>BANCO PICHINCHA</option>
                                            <option value='BANCO BOLIVARIANO'>BANCO BOLIVARIANO</option>
                                            <option value='BANCO PRODUBANCO'>BANCO PRODUBANCO</option>
                                            <option value='BANCO DINERS'>BANCO DINERS</option>
                                            <option value='BANCO AMAZONAS'>BANCO AMAZONAS</option>
                                            <option value='BANCO AUSTRO'>BANCO AUSTRO</option>
                                            <option value='BANCO GENERAL RUMIÑAHUI'>BANCO GENERAL RUMIÑAHUI</option>
                                            <option value='BANCO INTERNACIONAL'>BANCO INTERNACIONAL</option>
                                            <option value='BANCO SOLIDARIO'>BANCO SOLIDARIO</option>
                                            <option value='BANCO MACHALA'>BANCO MACHALA</option>
                                            <option value='BANCO LOJA'>BANCO LOJA</option>
                                            <option value='BANCO PROCREDIT'>BANCO PROCREDIT</option>
                                            <option value='BANCO LITORAL'>BANCO LITORAL</option>
                                            <option value='BANCO VISIONFUND ECUADOR'>BANCO VISIONFUND ECUADOR</option>
                                            <option value='BANCO CODESARROLLO'>BANCO CODESARROLLO</option>
                                            <option value='BANCO CAPITAL'>BANCO CAPITAL</option>
                                            <option value='BANCO COMERCIAL DE MANABI'>BANCO COMERCIAL DE MANABI</option>
                                            <option value='BANCO COOPNACIONAL'>BANCO COOPNACIONAL</option>
                                            <option value='BANCO DELBANK'>BANCO DELBANK</option>
                                            <option value='BANCO D-MIRO S.A.'>BANCO D-MIRO S.A.</option>
                                            <option value='BANCO FINCA S.A.'>BANCO FINCA S.A.</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6 crece-completar-datos-formulario-radio">
                                        <label>Tipo de cuenta:</label>
                                        <select class="form-control" id="selectTipoCuenta" data-seleccion="{{usuario.cuenta_bancaria.tipo_cuenta}}">
                                            <option value="0">Ahorros</option>
                                            <option value="1">Corriente</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-12">
                                        <label>Número de cuenta: <span class="crece-completar-datos-formulario-wrapper-required">*</span></label>
                                        <input 
                                            required
                                            value="{{usuario.cuenta_bancaria.numero_cuenta}}"
                                            class="form-control"
                                            name="numero_cuenta"
                                            id="numero_cuenta"
                                            data-valueMissing="Ingrese su número de cuenta"
                                            />
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="row justify-content-center">
                                            <div class="col-auto crece-completar-datos-formulario-botones">
                                                <button id="guardar_respuestas"> Guardar</button>
                                            </div>
                                            <div class="col-auto crece-completar-datos-formulario-botones">
                                                <button id="siguiente"> Siguiente</button>
                                            </div>
                                        </div>                                
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

                {% endblock content %}
      


        {% block footer_javascript_agregado %}
        <script src="{% static 'js/typeahead.jquery.js' %}"></script>
        <script src="{% static 'fases_inversiones/js/completar_datos.js' %}"></script>
        <script src="{% static 'registro_inversionista/js/postScript.js' %}"></script>
        {% endblock footer_javascript_agregado %}
        

    </body>
</html>