{% extends 'fases_inversiones/template_base_fases.html' %}

{% load static %}
<!DOCTYPE html>
<html lang='en'>

    <body> 

                    



                {% block content %}  

                <div class="col-12" id="crece-inversion-vigente-container-`+oportunidad.id_inversion+`">
                                <div class="row justify-content-center">
                                  <div class="col-12 crece-solicitud-valida-contenedor">
                                    <div class="row">
                                      <div class="col-lg-5 col-xl-5 col-5 crece-solicitud-valida-imagen-autor">
                                          <div class="crece-detalle-operaciones-header-gradiente-imagen-autor" style="background-image: url(\' /`+encodeURIComponent(oportunidad.imagen_url)+ `\');">
                                            
                                          </div>
                                          <div class="crece-solicitud-valida-imagen-autor-contenido">
                                              <div class="row" >
                                                  <h4>`+oportunidad.autor+`</h4>
                                              </div>
                                              <div class="row" >
                                                  <h4>`+oportunidad.tipo_persona+`</h4>
                                              </div>
                                              <div class="row" >
                                                  <h5>`+oportunidad.ticket+``+oportunidad.id_inversion+`</h5>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-7 col-xl-7 col-7 crece-solicitud-valida-detalle">
                                        <div class="row crece-solicitud-valida-detalle-intereses-ganados">
                                          <div class="col-1 crece-solicitud-detalle-icono">
                                            <img src="/static/assets/favicon-32.png">
                                          </div>
                                          <div class="col-10" style="padding-left: 0px;">
                                            <div class="col-12" style="color: #006B8D;font-weight: 400;font-size: 30px;">
                                              <span id="solicitud-valida-intereses-ganados-`+oportunidad.id_inversion+`"> $0 </span>
                                            </div>
                                            <div class="col-12" style="font-size: 10px;top: -8px;">
                                              Intereses ganados
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row crece-solicitud-valida-detalle-inversion">
                                          <div class="col-12">
                                            <div class="row">
                                              <div class="col-1 crece-solicitud-detalle-icono">
                                                <img src="/static/assets/icono_capital_cobrado.png">
                                              </div>
                                              <div class="col-10">
                                                <span id="solicitud-valida-capital-cobrado-`+oportunidad.id_inversion+`">$</span> 
                                                <span class="solicitud-valida-detalle-inversion-texto-derecha">Capital cobrado</span>
                                                <div class="solicitud-valida-detalle-inversion-texto-derecha-movil">
                                                  Capital cobrado
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-1 crece-solicitud-detalle-icono">
                                                <img src="/static/assets/icono_capital_invertido.png">
                                              </div>
                                              <div class="col-10">
                                                <span id="solicitud-valida-capital-invertido">$`+numberWithCommas(oportunidad.monto_invertido)+`</span>
                                                <span class="solicitud-valida-detalle-inversion-texto-derecha">Capital invertido</span>
                                                <div class="solicitud-valida-detalle-inversion-texto-derecha-movil">
                                                  Capital invertido
                                                </div>
                                              </div>

                                            </div>
                                            <div class="row">
                                              <div class="col-1 crece-solicitud-detalle-icono">
                                                <img src="/static/assets/icono_tasa_tir.png">
                                              </div>
                                              <div class="col-10">
                                                <span id="solicitud-valida-tasa-tir">`+oportunidad.tir+`%</span>
                                                <span class="solicitud-valida-detalle-inversion-texto-derecha">Tasa(TIR)</span>
                                                <div class="solicitud-valida-detalle-inversion-texto-derecha-movil">
                                                  Tasa(TIR)
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-1 crece-solicitud-detalle-icono">
                                                <img src="/static/assets/icono_proxima_fecha_pago.png">
                                              </div>
                                              <div class="col-10">
                                                <span id="solicitud-valida-fecha-pago-`+oportunidad.id_inversion+`"></span> 
                                                <span class="solicitud-valida-detalle-inversion-texto-derecha">Próxima fecha de pago</span>
                                                 <div class="solicitud-valida-detalle-inversion-texto-derecha-movil">
                                                  Próxima fecha de pago
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row crece-solicitud-valida-botones">
                                          <div class="col-12">
                                            <button  onclick="ver_detalle_solicitud('GOING',`+oportunidad.id_inversion+`,`+oportunidad.id+`, `+oportunidad.monto_inversion+`)">Ver más</button>
                                            <button onclick="crear_modal_tabla_solicitud_valida(`+oportunidad.id_inversion+`,`+oportunidad.id_solicitud+`)">Tabla de pagos</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                {% endblock content %}
      




    </body>
</html>