* {
  box-sizing: border-box;
}

button{
	background-color: #287191;
	color: #FFFFFF;
	border-radius: 9.58px;
	padding: 5px 25px;
	font-size: 15.82px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}


.dashboard{
	display: none;
}
.crece-dashboard-botones{
	padding: 200px 0px;
	background-color: #E9EBEE;
}

.crece-dashboard-botones-wrapper{
	padding-bottom: 50px;
	background-color: white;
    border: 1px solid #DEDEDE;
}

.crece-dashboard-botones-wrapper h2 {
	font-size: 22px;
    color: #006B8D;
    font-weight: 700;
    text-align: center;
    padding: 30px 0px;
    margin: 0px;
}

.crece-dashboard-botones-wrapper button{
    margin-right: auto;
	margin-left: auto;
	display: block;
    width: 160px;
    height: 40px;
    text-align: center;
    font-weight: 700;
    border-radius: 30px;
    
    background: #006B8D 0% 0% no-repeat padding-box;
    border: 1px solid #006B8D;
    color: white;
    font-size: 18px;

	margin-top: 3px;
	padding: 0px;
}

/*Side Nav bar*/

.crece-usuario{
	margin-bottom: 25px;

}

.crece-usuario-imagen {
	font-size: 100px !important;
	width: 100px !important;
	text-align: center;
	margin: auto;
}

.crece-usuario-nombre {
	padding: 10px;
}

.crece-usuario i{
	margin-right: auto;
	margin-left: auto;
	display: block;
	color: #71BDC5;
}

.crece-usuario div{

	color: #ffffff;
	text-align: center;
}




.crece-dashboard-sidenav{
	background-color:  #006B8D;
	max-width: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 15px 0px;

}


.crece-dashboard-sidenav nav a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}

.crece-dashboard-sidenav nav a.active{
	background-color: #08a7ba;
}

.crece-dashboard-sidenav nav a:hover{
	background-color: #08a7ba;
}

.fa{
	font-size: 1.4rem;
	margin-right: 0.8rem;
	display: inline-block;
	width: 30px;
	position: relative;
	top: 3px;
}

/*Header*/

header{
	margin-left:200px; 
	padding: 20px;
	border-bottom: 1px solid;
}

.search_area{
	display: inline-block;
}

.search_area input{
	background-color: #EDEDED;
	border: none;
	padding: 5px;

} 


.crece-header-logo{
	display: inline-block;
	float: right;

}

.crece-header-logo img{
	height: 40px;
}