main{
	background-color: #D5DEE5;
	font-family: Montserrat;
}

* {
  box-sizing: border-box;
}

input{
	font-family: none;
}

button{
	background-color: #287191;
	color: #FFFFFF;
	border-radius: 9.58px;
	padding: 5px 25px;
	font-size: 15.82px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;    
    border-radius: 3px;
}

label.required::after {
    content: "*";
}


/*Tipos de ingresos como Facebook*/
.tipos-ingresos{
	margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
}


.tipos-ingresos img:first-child{
	margin-right: 23.24px;
}

.tipos-ingresos img:last-child{
	margin-left: 23.24px;
}

